<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="index.html" class="article_title">ㅎㅜㅅㅓㄱ</a>

</head>
<body>
    <div style="text-align: center;">
        <h1><a href="readme.html" style="text-decoration-line: none; color: black;" >README.</a></h1>
        </div>
        <!-- <h1 style="text-align: center;">README.</h1> -->
        <hr>
        <div class="outer-container">
            <div class="inner-container">
                <div class="left-content">
                    <!-- 좌측 컨텐츠 내용 -->
                    <h1>자기소개</h1>
                    <a href="희망직무.html">희망직무</a>
                    <br>
                    <a href="취미.html">취미</a>
                    <br>
                    <a href="성격.html">성격</a>
                    <br>
                    <a href="고양이.html">고양이</a>
                </div>
                <div class="right-content">
                    <!-- 우측 컨텐츠 내용 -->
                    <hr>
                    <h1>프로젝트</h1>
                    <a href="목표.html">목표</a>
                    <hr>
                    <!-- <a href="동아일보">동아일보</a> -->
                </div>
            </div>
        </div>
    
</body>
</html>
