<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <p><strong>아이파크몰 앱 멤버십 CRM 프로모션 _ 아이파크몰 스탬프 투어 캠페인 (가칭)

    </strong></p>
    <p>&nbsp;</p>
    <ol>
    <li>배경 및 타겟</li>
    
    </ol>
    <ul>
    <li><p><strong>지점 운영 현황</strong></p>
    <ul>
    <li>고척점·용산점 1호선 라인 중심 운영, 각 지점 개별 마케팅 활발</li>
    <li>지점 간 고객 이동 및 연계 경험 부족 </li>
    
    </ul>
    </li>
    <li><p><strong>고객 행동 및 추론</strong></p>
    <ul>
    <li>MZ세대 방문객: 자차보다 대중교통(1호선) 중심, 경험      소비 선호</li>
    <li>방문·이동 데이터 확보 및 활용 → 맞춤형      혜택 및 재방문 유도 기반 강화</li>
    
    </ul>
    </li>
    
    </ul>
    <p>&nbsp;</p>
    <ol start='2' >
    <li>목표 및 성과 지표</li>
    
    </ol>
    <ul>
    <li><p><strong>지점 간 고객 이동 활성화</strong></p>
    <ul>
    <li>고척↔용산점 상호 방문률 X% 증가</li>
    <li>멤버십 방문자 재방문율 Y% 달성</li>
    
    </ul>
    </li>
    <li><p><strong>데이터 기반 개인화 마케팅 강화</strong></p>
    <ul>
    <li>방문 시간대, 주요 매장 동선, 선호      카테고리 데이터 수집</li>
    <li>데이터 기반 맞춤형 쿠폰·알림 제공 → 고객      락인(Lock-in) 유도</li>
    
    </ul>
    </li>
    
    </ul>
    <p>&nbsp;</p>
    <ol start='3' >
    <li>핵심 혜택</li>
    
    </ol>
    <ul>
    <li><strong>방문 인증 리워드</strong>: 고척·용산점 방문 및 인증 →     스탬프 적립</li>
    <li><strong>대중교통형 혜택 강화</strong>: 이동 부담↓ → F&amp;B, 문화 콘텐츠 할인 쿠폰 제공</li>
    <li><strong>등급제 운영</strong>: 월별·분기별 방문 중심 등급 (매출 X)→ 맞춤형 혜택 차등 지급</li>
    
    </ul>
    <p>&nbsp;</p>
    <ol start='4' >
    <li>운영 방식 및 고객 접점</li>
    
    </ol>
    <ul>
    <li><p><strong>앱 기반 참여 유도</strong></p>
    <ul>
    <li>앱 푸시 알림 및 SMS 발송 → 스탬프      투어 참여 독려</li>
    <li>멤버십 페이지 내 ‘스탬프 투어’ 참여      배너 개설 후 노출 강화</li>
    
    </ul>
    </li>
    <li><p><strong>현장 방문 인증</strong></p>
    <ul>
    <li>지점별 QR코드 설치 → 앱에서 QR 스캔해 방문 인증(스탬프 적립)</li>
    <li>지점 내 키오스크 및 안내 데스크 활용 → 현장 참여 접근성 확대</li>
    
    </ul>
    </li>
    <li><p><strong>개인화 혜택 추천</strong></p>
    <ul>
    <li>방문·구매 데이터 연계 → 선호 카테고리      맞춤형 쿠폰 및 알림 발송</li>
    <li>예: F&amp;B 방문 고객 → 같은      매장 방문 시 카페 할인 쿠폰 푸시</li>
    
    </ul>
    </li>
    
    </ul>
    <p>&nbsp;</p>
    <ol start='5' >
    <li>기대 효과</li>
    
    </ol>
    <ul>
    <li><strong>고객 동선 확대 및 체류 시간 증가</strong> → 지점 간 방문 시너지 강화</li>
    <li><strong>멤버십 참여율 및 방문 데이터 확보</strong> → CRM 개인화 마케팅 고도화</li>
    <li><strong>고객 락인 강화</strong> → 방문-혜택-재방문     선순환 구축</li>
    
    </ul>
    
</body>
</html>