<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="index.html" class="article_title">ㅎㅜㅅㅓㄱ</a>
</head>
<body>
    <h1>소개</h1>
    <hr>
    저는 경제학을 전공한 이후석이라고 합니다.
    <br>더욱더 합리적이고 객관적이게 설득하기 위해서 데이터를 공부하고 있습니다.
    <br>
    <br>
    <h1>약력</h1>
    <hr>
    <br>
    <li>홍익대학교 경제학부 학사 `2014.03~2023.02` </li>
    <br>
    <li>서울테크노파크 전략기획팀 인턴 `2023.10~2024.04`</li>
    <li>국회예산정책처 거시경제분석과 인턴 `2020.07~2020.08`</li>
    <br>
    <li>2018 홍익대학교 글쓰기 대회 우수상</li>
    <li>2017 홍익대학교 에세이 쓰기 대회 최우수상</li>
    <br>
    <li>ADsP(데이터분석준전문가)</li>
    <li>컴퓨터활용능력 2급</li>
    <li>한국사검정능력시험 1급 </li>
    <br>
    <br>
    <h1>스킬</h1>
    <hr>
    VScode
    <br>
    python
    <br>
    django
    <h1>연락</h1>
    <hr>
    <li>starpeeker@naver.com</li>
    <li>https://github.com/krpythondestroyer</li>
    
    
</body>
</html>



{% extends 'base.html' %}
{% block content %}

{% endblock %}


