<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
<p><strong>확장 프로그램 개발 _ 설문조사</strong></p>
<hr />
<p><strong>개요</strong></p>
<ul>
<li>단어 검색 확장 프로그램 원스탭은 프로토타입 개발 후 크롬 웹 스토어 등록 준비 중</li>
<li>정식 버전 개발 전에 유저들이 프로덕트에 어떻게 느끼는지 알아야 하는 상황</li>
<li>이에 프로덕트 공개 시현 후 청중들에게 설문조사 참여 요청</li>
<li>원스탭은 유저의 기능성, 유용성 니즈 만족을 디자인, 가치관 니즈 만족보다 잘 만족시킴</li>
<li>결론적으로 기능 중심의 정식 버전 출시에 자원을 더욱 투자해야 한다고 판단</li>

</ul>
<p><strong>개요</strong></p>
<ul>
<li>시기 :  2024.11.25.14:00</li>
<li>장소 : 동아일보 미디어 데이터 과정 부트캠프 수료장</li>
<li>대상 : 수료생 및 관계자 38인</li>
<li>방식 : 프로그램 설명 및 시현 후 <a href='https://opendict.korean.go.kr/service/openApiInfo'>🔗</a><a href='https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform'>구글폼</a>으로 데이터 수집</li>

</ul>
<hr />
<p><strong>과정</strong></p>
<ol>
<li><p>기획 배경</p>
<ul>
<li>기사의 어려운 용어로 독자가 독해에 어려움을 겪음</li>

</ul>
<ul>
<li>웹 기사는 지면 한계로 각주 제공이 불가능한 상황</li>

</ul>
<ul>
<li>간편 검색으로 즉시 뜻 확인 가능한 “원스탭” 프로토타입 개발</li>

</ul>
<ul>
<li>유저들의 프로덕트 예상 만족도 데이터 파악을 위한 유저 리서치 진행</li>

</ul>
</li>

</ol>
<ol start='2' >
<li><p>설계 및 수집<strong>¹</strong></p>
<ul>
<li>사용자 기본 정보 (성별, 연령대)</li>
<li>기사 독해 중 단어 검색 여부 및 빈도</li>
<li>단어 검색 시 불편 요소 파악 (탭 이동, 검색 결과 불만족 등)</li>
<li>원스탭 기능 이해도 및 직관성 평가</li>
<li>기존 방식 대비 원스탭의 예상 만족도 평가 (사용 편의성, 예측 가능성 등)</li>
<li>원스탭 추천 의향 및 추천/비추천 이유</li>
<li>기타 사용자 의견 및 개선점</li>

</ul>
</li>

</ol>
<p>  </p>
<ol start='3' >
<li>분석 및 시각화</li>

</ol>
<ul>
<li><p>정량 분석 : 객관식 및 체크박스 문항</p>
<ul>
<li>기초 통계 : 평균, 최대 최솟값, 분산, 표준편차 등</li>
<li>고급 분석: 상관관계 분석 등</li>
<li>툴: 구글폼 대시보드, Pandas를 활용한 데이터 전처리 및 분석</li>
<li>주의 사항: 결측치, 중복 값 처리</li>

</ul>
</li>
<li><p>정성 분석 : 단문형, 장문형 문항</p>
<ul>
<li>감성 분석 : 긍정/부정/중립 분석</li>
<li>빈도 분석 : 고빈도, 저빈도 단어 출력</li>
<li>툴 : Kiwiepy, OpenAI API를 활용, ML모델</li>
<li>주의: 한국어 관련 사용자 단어 구축, API 사용 비용 문제</li>

</ul>
</li>

</ul>
<ul>
<li><p>시각화 :</p>
<ul>
<li>기본 : 구글폼 대시보드 활용 ( xls csv 추출 가능)</li>
<li>정량 : Matplotlib을 활용한 데이터 시각화 (꺾은선 그래프 등)</li>
<li>정성: Wordcloud를 활용한 워드 클라우드</li>
<li>예시: 성별 간 단어 검색 빈도 차이 분석 및 시각화</li>

</ul>
</li>

</ul>
<ol start='4' >
<li>결과 해석</li>

</ol>
<ul>
<li><p>응답 : 1명 ( 2.6% 응답률)</p>
<ul>
<li>인적 사항 : 20대 중반 남성</li>
<li>핵심 평가(5번 문항): 기능, 유용성 4점 / 디자인, 가치관 3점</li>
<li>해석 : 원스탭은 기능 관련 니즈 만족을 상대적으로 잘 시킨다.</li>
<li>결론 : 원스탭의 세일즈 포인트는 감성 요소보다 실질 요소가 되어야 한다.</li>

</ul>
</li>

</ul>
<ul>
<li><p>후속 리서치 작업</p>
<ul>
<li>구글 폼 오픈을 통한 추가 데이터 수집</li>
<li>컨택을 통한 심층 유저 인터뷰 가능( In-depth Interview)</li>
<li>백엔드개발을 통한 검색 빈도수 등에 대한 개인 로그 분석 가능</li>
<li>Scikit-Learn등 ML 모델을 활용한 인적 사항별 만족도 예측 가능</li>

</ul>
</li>

</ul>
<p>  </p>
<p><strong>참조 - ¹</strong></p>
<hr />
<p><strong>Q1. 귀하의 성함을 작성해주세요.</strong></p>
<p> [주관식 입력]</p>
<p><strong>Q2. 귀하의 휴대폰번호를 작성해주세요.</strong></p>
<p>[주관식 입력]</p>
<p><strong>Q3. 다음 중 귀하의 성별을 선택해주세요.</strong></p>
<ul>
<li>남</li>
<li>여</li>

</ul>
<p><strong>Q4. 다음 중 귀하의 연령대를 선택해주세요.</strong></p>
<ul>
<li>20대</li>
<li>30대</li>
<li>40대</li>
<li>50대</li>
<li>60대</li>

</ul>
<p><strong>Q5. 귀하는 온라인 기사를 보며 단어 검색을 하고 계신가요?</strong></p>
<ul>
<li>예</li>
<li>아니오</li>

</ul>
<p><strong>Q6. 단어 검색을 하신다면 기사당 평균적으로 얼마나 하시나요?</strong></p>
<ul>
<li>5개 이상</li>
<li>3~4개</li>
<li>1~2개</li>
<li>0개</li>

</ul>
<p><strong>Q7. 귀하는 기사 독해 중 온라인 단어 검색을 하면서 어떤 불편한 점을 느끼셨나요? (복수 선택 가능)</strong></p>
<ul>
<li>탭 생성 및 이동이 번거롭다</li>
<li>단어 검색 결과가 만족스럽지 않다</li>
<li>기사 독해 소요 시간이 증가한다</li>
<li>다른 웹페이지로 이탈하고 싶어진다</li>
<li>기타 [주관식 입력]</li>

</ul>
<p><strong>Q8. 아래 화면을 보시면서 어떻게 생각하시는지 자유롭게 말씀해주세요.</strong></p>
<pre><code>       {사진 제공]
</code></pre>
<p> [주관식 입력]</p>
<p><strong>Q9. 원스탭에 대해 설명드린 내용으로 이해되셨나요?</strong></p>
<ul>
<li>매우 잘 이해했다</li>
<li>잘 이해했다</li>
<li>이해했다</li>
<li>잘 이해하지 못했다</li>
<li>전혀 이해하지 못했다</li>

</ul>
<p><strong>Q10. 어떤 점이 원스탭 프로그램을 직관적으로 이해하는데 어려웠는지 자유롭게 말씀해주세요.</strong></p>
<p> [주관식 입력]</p>
<p><strong>Q11. 기존 단어 검색 방식에 비해 원스탭 프로그램에 대한 예상 만족도를 평가해주세요.</strong></p>
<p>o   사용하기 쉽다 (1: 전혀 그렇지 않다 ~ 5: 매우 그렇다)</p>
<p>o   사용이 직관적이다 (1: 전혀 그렇지 않다 ~ 5: 매우 그렇다)</p>
<p>o   기능을 예측 가능하다 (1: 전혀 그렇지 않다 ~ 5: 매우 그렇다)</p>
<p>o   디자인, 폰트가 적합하다 (1: 전혀 그렇지 않다 ~ 5: 매우 그렇다)</p>
<p>o   실용성 있다 (1: 전혀 그렇지 않다 ~ 5: 매우 그렇다)</p>
<p><strong>Q12. 원스탭이 실제 출시된다면 주변 지인에게 추천하실 의향이 있으신가요?</strong></p>
<ul>
<li>예</li>
<li>아니오</li>

</ul>
<p><strong>Q13. 원스탭을 추천하시는 이유를 조금 더 자세히 설명해주세요.</strong></p>
<p> [주관식 입력]</p>
<p><strong>Q14. 원스탭을 비추천하시는 이유를 조금 더 자세히 설명해주세요.</strong></p>
<p> [주관식 입력]</p>
<p><strong>Q15. 원하시는 카카오톡 이모티콘 제품명을 남겨주세요.</strong></p>
<p>[주관식 입력]</p>



    
</body>
</html>