<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <h3>서울연구개발지원단</h3>
    <hr>
    
    <section class="flex-container">
        <div class="flex-container">
            <strong>개요</strong>
            <li>정책 연구비 지출 확인엔 두 과정이 필요</li>
                <ul>
                    <li>사내 결재 → 중앙 정부 결재</li>
                    <ul>
                    <li>사내 결재는 재무팀 검토</li>
                    <li>중앙 정부 결재는 과기부 검토</li>
                </ul>
                
                </ul>
            <li>중앙정부 결의 등록 업무를 맡은 상황 </li>
        </div>
        <div class="flex-container">
            <strong>과정</strong>
            <ul>
                <li>연구비 사용내역 확인</li>
                <li>사내 결재 자료 확인</li>
                <li>1차 누락 자료 담당자 요청 </li>
                <li>2차 미응답 리마인드</li>
                <li>마감 기한내 회계 결산 완료</li>
            </ul>
        </div>
    </section>
    <hr>
    <strong>○ 서울연구개발지원단 개요</strong><br>
• 목적 : 서울지역 R&D 기반의 자생적 혁신 생태계 조성<br>
• 대표 성과 : 서울시 R&D 사업성과 조사분석, 전략산업발굴 연구 보고서 발간<br>
• 년도: 계속사업 <br>
• 예산 : 5억원 (2023년 기준, 지방비 국비 5:5 매칭)br
 <!-- <hr>
 <br>
 <p style="text-align: center;">
 <strong>더 상세한 설명을 준비 중입니다.<br>
    
</strong>
(~01. 30)
<br>
<br> -->

</p>
    </section>
</body>
</html>
