<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="../css/style.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combined View</title>
  <div class="split-scroll-container">
    <div class="left-section">
      <h3>확장 프로그램 개발</h3>
      <hr />
  
  <strong>배경 및 목표</strong>
      <ul>
          <li>
              기사의 어려운 용어로 독자가 독해에 어려움을 겪음
  
                  <li>웹 기사는 지면 한계로 각주 제공이 불가능한 상황 </li>
  
          </li>
          <li>
              독자가 간편 검색으로 뜻을 즉시 확인 가능한 프로그램 개발
  <!-- 
                  <li>독자들의 콘텐츠 독해력 상승 및 정보 검색 시간 단축으로 독자 편의성 증대 기대</li> -->
  
          </li>
      </ul>
  
  
  
  
      <hr />
      <strong>개발</strong>
  
              <ul>
                  <li> 핵심 : 긁고 - 검색 기능</li>
                  <li> 부가 : 수정 및 링크 한 탭이동 기능</li>
                  <li> 도식화: 유저 및 데이터 플로우</li>
  
      </ul>
  
  
      <hr />
      <strong>결과</strong>
      <ul>
          <li>프로토타입 개발</li>
          <li>홍보자료 작성</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform?usp=header">설문조사 자료 수집🔗</a></li>
      </ul>
  
          <hr>
          <strong>측정</strong>
          <ul>
              <li>프토토타입 : 총 단어 검색 수 (날짜별, 요일별)</li>
              <li>정식 출시 : 프로덕트 리뷰 및 평점, 다운로드 수</a></li>
              <li>개발 필요 : 액티브, 리텐션 유저 수 </li>
          </ul>
      
              <hr>
      <strong>업무</strong>
      <ul>
          <li>기간: 2024.10.07 ~ 2024.11.25 (8주)</li>
          <li>인원: 동아일보 미디어 프론티어 과정 1인</li>
          <li>일정: Notion</li>
          <li>기여: 파이널 개인 프로젝트</li>
      </ul>
  
      <hr />
    </div>
    
    <div class="right-section">
      <strong>개발</strong>
      <hr>  
      
      <section class="flex-container">
        <div class="flex-container">
            <ul>
                <li>핵심 :</li>
                <ul>
                    <li>API 연동 및 정보 출력</li>
                    <ul>
                        <li>우리말샘 API → 네이버 API</li>
                    </ul>
                    <li>인터페이스 공간 설정</li>
                    <ul>
                        <li>IFRAME → SIDEPANEL</li>
                    </ul>
                    <li>매니페스토 설정</li>
                    <ul>
                        <li>CORS 문제 해결을 위한 퍼미션 설정</li>
                    </ul>
                    <li>크롬 로컬 스토리지 활용</li>
                    <ul>
                        <li>크롬 싱크 스토리지 염두</li>
                    </ul>
                </ul>
            </ul>
        </div>
        <div class="flex-container">
            <ul>
                <li>부가 :</li>
                <ul>
                    <li>강조</li>
                    <ul>
                        <li>strong 태그</li>
                    </ul>
                    <li>삭제</li>
                    <ul>
                        <li>크롬 로컬 스토리지값 삭제</li>
                    </ul>
                    <li>원문 이동</li>
                    <ul>
                        <li>네이버 API에서 URL 파싱 및 저장</li>
                    </ul>
                    <li>북마크 이동</li>
                    <ul>
                        <li>검색 이벤트 발생 시 현 페이지 URL 저장</li>
                    </ul>
                </ul>
            </ul>
        </div>
    </section>



    도식화 - 유저 플로우
    <hr>
              <a href="../images/원스탭구조0.png"><img src="../images/원스탭구조0.png" alt="유저 플로우"></a>

              도식화 - 데이터 플로우
<hr>
              <a href="../images/원스탭구조1.png"><img src="../images/원스탭구조1.png" alt="데이터 플로우"></a>


      
      <strong>결과</strong>
      <hr>
      프로토타입 개발 - 인터페이스
      <hr>
      <ul>

              <a href="../images/원스탭 박스.png"><img src="../images/원스탭 박스.png" alt="인터페이스"></a>

              프로토타입 개발 - 라벨 및 기능 설명
              <hr>

              <a href="../images/원스탭기능.png"><img src="../images/원스탭기능.png" alt="라벨 및 기능 설명"></a>
</ul>
              설문조사 자료 수집
              <hr>
      <ul>
              <li>인적 사항 : 이름, 연락처, 성별, 연령대 </li>
              <li>단어 검색 서비스 필요도 : 단어 검색 습관 유무, 빈도, 페인 포인트</li>
              <li>원스탭 필요도 : 직관적 이해도 측정 및 느낌 설명, 예상 만족도( 사용성, 직관성, 예측성, 심미성, 실용성) </li>
              <li>원스탭 공감성 : 지인 추천 의사 유무 및 이유</li>
          </ul>
      
          <!-- <figure class='table-figure'>
              <table>
                  <thead>
                      <tr>
                          <th>라벨</th>
                          <th>내용</th>
                          <th>예시</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>검색 단어</td>
                          <td>사용자 검색 단어</td>
                          <td>디지털 트윈</td>
                      </tr>
                      <tr>
                          <td>설명 요약</td>
                          <td>네이버 백과사전 API 호출 결과 중 description 값 출력</td>
                          <td>어떤 사물을 컴퓨터 시스템상에 동일하게 표현해서 가상 모델을 만드는 것. 실제와 동일한 3차원 모델을 만들고, 현실 세계와 가상의 디지털 세계를 데이터를 기반으로 연결한다. 현실과 가상이...</td>
                      </tr>
                      <tr>
                          <td>썸네일</td>
                          <td>네이버 백과사전 API 호출 결과 중 thumbnail 있을시 출력 <br>
                          </td>
                          <td>* <img src="../images/디지털트윈개념.png" alt=""></td>
                      </tr>
                      <tr>
                          <th>기능**</th>
                          <th>내용</th>
                          <th>사용 예시</th>
                      </tr>
                      <tr>
                          <td>🖊️ (형광펜)</td>
                          <td>검색 단어 볼드 처리</td>
                          <td><strong>디지털 트윈</strong></td>
                      </tr>
                      <tr>
                          <td>🗞️ (지우개)</td>
                          <td>단어 삭제</td>
                          <td>&nbsp;</td>
                      </tr>
                      <tr>
                          <td>📖 (책열기)</td>
                          <td>네이버 백과사전 링크 이동</td>
                          <td><a href="../images/디지털트윈백과사전.png">디지털 트윈 백과사전 페이지 이동</a></td>
                      </tr>
                      <tr>
                          <td>🔖 (책갈피)</td>
                          <td>단어가 검색된 사이트로 이동</td>
                          <td><a href="../images/동아일보.png">디지털 트윈 검색된 페이지 이동</a></td>
                      </tr>
                  </tbody>
              </table>
                   
          </figure>
          <br>
              
          * mouse off시 📷 표시  <br>
          ** mouse on시에만 나타남     
          <br>  
          <br>
      </ul> -->
      
          
              <style>
                  .table-figure table {
                      border-collapse: collapse;
                      width: 100%;
                  }
                  .table-figure th, .table-figure td {
                      border: 1px solid #ccc; /* 테두리 색상 설정 */
                      padding: 8px; /* 내부 여백 */
                      text-align: left; /* 텍스트 정렬 */
                  }
                  .table-figure th {
                      background-color: #f4f4f4; /* 헤더 배경 색상 */
                  }
              </style>
  홍보자료 작성 - 블로그
  <hr>

              <a href="../images/원스탭홍보2.jpg"><img src="../images/원스탭홍보2.jpg" alt=""></a>

      </ul>
          <strong>측정</strong>
          <hr>            프로토타입 - 총 단어 검색 수, 네이버 API 통계
          <hr>
          <ul>


              <a href="../images/원스탭통계.png"><img src="../images/원스탭통계.png" alt=""></a>

  <br>
  <br>
          </ul>
          <strong>업무</strong>
          <hr>
          일정 - 개인 Notion
          <hr>

          <a href="../images/원스탭일정.png"><img src="../images/원스탭일정.png" alt=""> </a>
    </div>
</div>
<br>
<br>
<br>
<br>


</body>
</html>
