<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Document</title>
</head>
<body>
    <div class="split-scroll-container">
        <div class="left-section">
            <h3>방송 편성 제안 </h3>
            <hr />
            <strong>배경 및 목표 </strong>
            <ul>
                <li>채널 A 는 강철부대 W 등 신규 프로그램 방영 준비 중</li>
                <li>2024 년 4 분기에도 최신 자료에 기반한 편성이 필요한 상황</li>
                <li>시청률 데이터를 기반으로한 시청 특성 확인 및 전략적 편성 제안</li>
            </ul>
            
            <hr />
            
            <strong>수집 및 분석</strong>
            <ul>
                <li>종편사 시청률 자료 (채널A , JTBC, TV조선, MBN)</li>
                <li>Pandas를 활용한 데이터 전처리 및 분석</li>
                <li>Matplotlib을 활용한 데이터 시각화</li>
                <!-- <li>OpenAI API를 활용한 시청률 예측</li> -->
            </ul>
        
            <hr />
        
            <strong>결과 및 해석</strong>
            <ul>
                <li><strong>"채널 A 시청자 층은 뉴스 방송을 중심으로 탄탄하다."</strong></li>
                <li>프로그램별: 뉴스와 다음 프로 편차 ↓
                </li>
                <li>요일별: 평균 시청률 ↓ 편차 ↓
                </li>
                <li>시간대별: 최고 시청률 ↓ 편차 ↓</li>
        
        
                
            </ul>
        
            <hr>
            <strong>제안</strong>
            <ul>
                <strong><li>"뉴스를 기준으로 연쇄 효과를 만들자" </strong>
                    <li> 강조 프로그램 편성을 뉴스 후 타임으로 편성</li>
                    <li> 다만 편성은 시청률 외 다른 요소 고려도 필요 </li>
                    <!-- <li>기대 시청률</li> -->
        
                </ul>
                <hr />
        
            <strong>업무</strong>
                <li> 기간 : 2024.09.19 ~ 2024.09.30 (약 2주)</li>
                <li> 인원 : 동아일보 미디어 프론티어 과정 3인</li>
                <li> 협업 : Slack, Notion</li>
                <li> 기여 : 33% (TV조선, MBN 자료 수집 및 전처리)</li>
        
            <hr />
        </div>
        <div class="right-section">
            <strong>수집 및 분석</strong>
            <hr>

                종편사 시청률 자료
                <hr>


            <ul>
                <li> 채널A , JTBC, TV조선, MBN</li>
                <li> 2024년 6월 01일~ 2024년 09월 03일</li>
                <li> 채널A 112개, JTBC 95개, TV조선 130개, MBN 140개</li>
                <li> <a href="../images/편성제안/시청률아카이브.png">스크랩 공간 : 포털 다음 | 출처 : 닐슨 </a></li>
                <li> <a href="../images/편성제안/채널a엑셀예시.png">저녁, 프라임 시간대 시청률, 장르, 방송시간 등 엑셀 정리</a> </li>
               
            </ul>
            <br>
            Pandas를 활용한 데이터 전처리 및 분석
            
            <hr>
            <img src="../images/편성제안/image3.png" alt=""> 

            
            <ul>
                <li> 방영일 ➝ %Y.%m.%d 포맷 </li>
                <li> 시청률 ➝ rstrip(‘%’), float 형태 </li>
                <li> 최적화 : 순위 및 불필요 열 제거</li>

            </ul>
            <br>
            Matplotlib을 활용한 데이터 시각화
            <hr>
            <img src="../images/편성제안/image2.png" alt="">
            <ul>
                <li> ex) 요일별 방송사 전체 평균 시청률 변화</li>
                <li> groupby, pivot 활용한 묶음 </li>
                <li> Matplotlib 활용한 꺽은선 그래프</li>
            </ul>
            <br>




            <br>
            
            <!-- <li>OpenAI API를 활용한 시청률 예측</li>
            <ul>
                <li><img src="../images/편성제안/예측.png" alt=""></li>
            </ul> -->
            </ul>
                <strong>결과 및 해석</strong>
                <hr>
                * 요일별 방송사 뉴스, 뉴스 후 프로 시청률 변화
                <hr>

                                *<img src="../images/편성제안/뉴스와 다음 프로그램.png" alt="">
                                요일별 방송사 전체 평균 시청률 변화
                                <hr>

                                <img src="../images/편성제안/요일별 시청률 변동.png" alt="">
                                <br>
                                방송사별 저녁, 프라임 시간대 평균 시청률
                                <hr>

                                <img src="../images/편성제안/저녁 및 프라임 시청률.png" alt="">

                                방송사별 저녁, 프라임 시간대 평균 시청률 차이
                                <hr>
      
                                <img src="../images/편성제안/저녁 및 프라임 시간대 시청률 차이.png" alt="">
                                
                                
                                
                                <strong>제안</strong>
                                <hr>
                                강조 프로그램 편성을 뉴스 후 타임으로 편성
                                <hr>
                                <ul>
                                    <li>EX) 강철부대 W : 21:40 → 20:10 <br></li>
                                    <br>
                                    <br>
                                    
                                </ul>
                                다만 편성은 시청률 외 다른 요소 고려도 필요
                                <hr>
                                <ul>
                                    <li>기대 평균 시청률 : 2.74</li>
                                    <a href="../images/편성제안/강철부대W 시청률.png"><li>실제 평균 시청률 : 2.68</li></a>
                                    <li>RMSE : 0.46 | R<sup>2</sup> : 0.86</li>                      
                                </ul>
                                <strong>참고</strong>
                                <HR></HR>
                            *
                            <br>
                                방송사별 뉴스 프로그램 그 다음 프로그램 상관관계
                                <img src="../images/편성제안/상관관계결과.png" alt="">
                                <img src="../images/편성제안/상관관계코드.png" alt="">
                                <br>
                                **
                                <br>
                                Scikit-Learn을 활용한 시청률 예측 
                                <hr>
                                <img src="../images/편성제안/전처리.png" alt="">
                                <img src="../images/편성제안/RF코드.png" alt="">
                                <ul>
                                    <li>방송시간 ➝ 시간의 분 단위화, 200 분 이하 데이터로 필터링</li>
                                    <li>의사 결정 나무 ➝ 랜덤 포레스트 | 머신러닝 </li>
                                    <li>범용성 ↑ 설명력 ↑ 잔차합 ↓</li>
                                </ul>

        </div>
    </div>
</body>
</html>
