<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined View</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="margin: 0;">UX라이팅 스터디_ 카카오페이를 기본교통카드로 설정 유도</h3>
    <div>
      
      <!-- <div style="margin: 0;">2025.02.03</div> -->
      <!-- <div style="margin: 0;"><a href="../index.html">>레쥬메<</a></div> -->
    </div>
  </div>
  <hr>
  <a href="../images/카카오페이-교통카드.png"><img src="../images/카카오페이-교통카드.png" alt=""></a>
  <hr>
  <section class="flex-container">
    <div class="flex-container">
      <strong>상황 및 목표</strong>
      <ul>
        <li>
          <span style="vertical-align: super; font-size: 1rem;">
            <div>
              <a href="https://support.kakaopay.com/web/faq/PAY?qna=90000" style="font-size: 1rem;">🔗기본 교통카드</a>
              : 교통카드 사용 시 앱 실행 필요 없이 화면이 꺼진 채로 교통단말과 태깅만 하면 되는 기능&nbsp;
            </div>
          </span>
        </li>
        <li>
          <div>
            미설정시에는&nbsp;
            <span style="font-size: 1rem;">유저가&nbsp;</span>
            <span style="font-size: 1rem;">모바일 교통카드 태그시 매번 교통 카드 팝업을 클릭 해야하는 불편함이 발생 <sup>1</sup></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-size: 1rem;">
            <span style="font-size: 1rem;">
            <span style="font-size: 1rem;">이에 카카오페이를 기본 교통카드로 설정하도록 유저 수준과 보이스톤을 고려해 라이팅으로 유도해야하는 상황<sup>2</sup></span><br>
            <li>화면 목표 : 교통카드 태그시 핸드폰을 매번 꺼내야하는 불편함 해소를 위한 기본 교통카드 설정 지시</li>
            <li>라이팅 목표 : 간결하고, 분명한 라이팅을 통한 유저 사용성 개선</li>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <hr>
  <section class="flex-container">
    <div class="flex-container">
      <strong>섹션</strong>
      <ol>
        <li>본문1</li>
        <ul>
          <li>(역할) 디바이스 모바일 결제 기능 활성화</li>
          <li>(구조) ~를 위해 ~가 필요해요</li>
          <li>(사유) NFC, 근거리 무선 결제 병기
            <ul>
            <li>NFC, RFID, 블루투스⊂근거리무선결제</li>
            <li>NFC 단어에 대한 유저의 의견?</li></li>
          </ul>
            <li>(액션) 스마트폰 설정<br>
              <ul><li>스마트폰, 디바이스 설정? 예고</li></li>
              </ul>
        </ul>
      </ul>
    </ol>
      <br>
      <br>
      <br>
      <ol start="3">
        <li>CTA</li>
        <ul>
          <li>(역할) 기본교통카드 설정 상태 확인<br>
            <ul><li>본문1,2로 이미 기능 설정은 완료</li></li></ul>
          <li>(문구) 기본 교통카드로 사용 → 확인</li>
          <li>(예측) 설정 미완료시 잠금화면<br>
            <ul><li>불필요한 유저의 클릭 방지 <sup>5</sup></li></li>
            </ul>
        
      </ol>
    </div>
    <div class="flex-container">

<br>
      <ol start="2">
        <li>본문2</li>
        <ul>
          <li>(역할) 단독 교통카드 결제 기능 설정</li>
          <li>(구조) ~가 필요합니다 → ~하세요<br>
            <ul><li>편의 기능 : 지시 + 적당한 예의</li>
            </ul>
            </li>
          <li>(사유) 원활한 태그로 단일화 <sup>3</sup><br>
            <ul>
            <li>
              "앱 실행 필요없이... 꺼진채로" → 원활한</li>
              <li>태깅(개발자, 마케터 언어) → 태그</li>
          </ul>
            <li>(액션) 해지 및 삭제 → 선택 해제<br>
              <ul><li>선택 해제라는 유연한 방법으로 변경 <sup>1,4</sup></li>
                <li>유지시 백그라운드 전력소모 지적 <sup>5</sup></li></li>
              </ul></ul>
              <br>
      </ol>



      <ol start="4">
        <li>타이틀 및 전체 정리</li>
        <ul>
          <li>(역할) 기본 교통카드 설정 유도<br>
            <ul><li>단순 체크 X → 기능 설정</li></li>
            </ul>
          <li>(문구) 필수 체크 → 설정하기</li>
          <li>(어미) 하기, 켜기, 선택으로 동작 어미 일치</li>
          <li>(디자인) 양식 통일을 위한 사용<br>
            <ul>
              <li>더욱 흔한 NFC 표시 사용</li></li>
              <li>본문1,2를 동시에 포함하는 이미지</li>
            </ul>
        </ul>
      </ol>
    </div>
  </section>
  <hr>
  <b>각주</b><br>
  <sup>1 </sup><a href="../images/결제.png">사진</a><br>
  <sup>2 </sup>카카오페이 보이스 : 믿음직하게, 친근하게, 쉽게 | 유저 수준 : 연령, 경험 수준 불문</div><br>
  <sup>3 </sup>이중 과금이 : 실제 가능성 ↓ | 될수도 : 카카오페이의 "믿음직하게" 보이스톤 파괴 <br>
  <sup>4 </sup><a href="../images/비접촉 결제.png">사진</a><br>
  <sup>5 </sup><a href="../images/티머니.png">사진</a>
<hr>
<strong>QnA</strong><br>
<li> "하기"는 다짐의 늬앙스로 보통 버튼에 사용,  그런데 타이틀에 쓴 이유? - 어미 일치 및 액션 유도 분명화 </li>
<li> 모바일 교통카드 중복을 지우지 않은 이유? - 다른 페이지 양식 일치</li>
<li> 변경안에 대한 유저 반응 계획은? - 캐주얼 UT | ex)친구들, 블로그 유저</li>
<li> 관련 레퍼런스 스터디한 서비스는? - 삼성페이 교통카드, 티머니, 토스 교통카드 </li> 



</body>
</html>
