<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <h3>기획 보조 - 정부연구개발캘린더</h3>  
    <hr>
    
    <section class="flex-container">
        <div class="flex-container">
            <strong>배경 및 목표</strong>
            <ul>
                <li>2024년 33년만에 정부 R&amp;D 예산 삭감</li>
                <li>기존 사업 폐지에 따라 신규 사업 필요한 상황</li>
                <li>관련 사업 공고를 한눈에 볼 수 있는 자료 제작</li>
            </ul>
            <hr>
        </div>
  
        <div class="flex-container">
            <strong>업무</strong>
            <ul>
                <li>일정: 2024.01.10 ~ 2024.01.23 (약 2주)</li>
                <li>인원: 서울테크노파크 전략기획팀 3인</li>
                <li>협업: Bizbox, Kakaotalk</li>
                <li>기여: 33% (공고 모니터링, 발췌 및 엑셀 정리)</li>
            </ul>
        </div>
    </section>
  
    <hr>
  
    <section class="flex-container">
        <div class="flex-container">
            <strong>제작 단계</strong>
            <ul>
                
                    <a href="../images/사업공고목록.png">1) 각 부처 R&amp;D 사업 공고 모니터링</a>
                    <ul>
                        <li>제작 기간 중 수동 확인 </li>
                        <li>과기부, 중기부, 산자부 위주</li>
                    </ul>
                
            </ul>
        </div>
  
        <div class="flex-container">
            <ul>
                
                    <br>
                    <a href="../images/사업개요.png">2) 공고 발췌 및 엑셀 정리</a>
                    <ul>
                        <li>2024 정부 R&amp;D사업 8개 부처 약 250개</li>
                        <li>행: 기관, 세부, 내역 사업 공고명 등</li>
                        <li>열: 공고, 접수, 협약 등 일정 월별 정리</li>
                        <li>신규 사업 O | 기존 사업 X</li>
                    </ul>
                <br>
            </ul>
        </div>
    </section>
  
    <section class="flex-container">
        <div class="flex-container">
            <ul>
                
                    <a href="../images/캘린더2.png">3) 팀원간 내용 교차 검증</a>
                    <ul>
                        <li>오탈자 및 일정 검토 위주</li>
                    </ul>
                
            </ul>
        </div>
  
        <div class="flex-container">
            <ul>
                4) 디자인 및 인쇄
                    <ul>
                        <li><a href="../images/캘린더QR.png">QR 추가</a></li>
                    </ul>
                
            </ul>
        </div>
    </section>
  
    <hr>
  
    <section class="flex-container">
        <div class="flex-container">
            <strong>결과</strong>
            <ul>
                <li>
                    <a href="../images/캘린더.jpg">캘린더 제작⭐️</a>
                </li>
            </ul>
        </div>
  
        <div class="flex-container">
            <ul>
                <li>배포
                    <ul>
                        <li>온라인 : 서울연구개발지원단 게시판</li>
                        <li>오프라인 : 사내 부착</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>
