<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="../css/style.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combined View</title>
  <div class="split-scroll-container">
    <div class="left-section">
        <h3>추천 시스템 분석</h3>
        <HR></HR>
        <strong>주제 및 가설</strong>
        <ul>
        <li>과제 주제 : &quot;언론사 홈페이지별 기사 추천 서비스 사례 분석&quot;</li>
        <li>기존 주장 : &quot;우리 회사는 홈페이지에서 AI 개인화 추천 시스템을 이용하고 있다&quot;</li>
        <li>우리 가설 : &quot;실제로는 AI 추천 시스템이 작동되지 않는다&quot;</li>
        </ul>
        <hr>
        <strong>검증 설계</strong>
        <ul>
        <li>검증 방법 : 페르소나 설정 및 개인 선호를 담은 로그인 설정으로 언론사별 A/B테스트<ul>
        <li>페르소나 : 성별, 연령, 관심사로 나뉜 언론사 디지털 독자 3인</li>
        <li>개인 선호 : 기본 인적 사항 기입 | 관심사 관련 뉴스 조회 및 단어 검색 </li>
        <li>로그인 설정 : 다른 조건이 동일한 상황에서 로그인 유무만 변수화</li>
        <li>언론사별 : AI 추천시스템 홍보기사를 낸 언론사 3곳 (동아, 부산, 중앙)</li>
        <li>A/B 테스트:  페르소나별 로그인 전후로 추천 기사 성격이 달라지는지 확인 </li>
        </ul>
        </li>
        </ul>
        <hr>
        <strong>결과</strong>
        <ul>
        <li><strong>“언론사별로 개인화된 추천 시스템이 제대로 작동하지 않는다&quot;</strong></li>
        <li>알고리즘상 추천되는 기사에 큰 차이가 없음</li>
        <li>개인화된 CF(협업필터링) 추천은 작동을 안하고 CB(콘텐츠베이스) 추천이 작동</li>
        </ul>
        <hr>
        <strong>원인</strong>
        <ul>
        <li>공익적 아젠다 세팅 문제</li>
        <li>사용자 데이터가 부족한 콜드 스타트 문제</li>
        <li><strong>현실적인 서버 운영 자금 및 인력 문제</strong>
        </li>
        </ul>
<hr>
        <strong>업무</strong>
        <ul>
        <li>기간 : 2024.07.03 ~ 2024.07.17 (2주)</li>
        <li>인원 : 동아일보 미디어 프론티어 과정 3인</li>
        <li>협업 : Slack, Notion</li>
        <li>기여도: 33% (도메인 가설 설정, 남성 페르소나 설정 및 테스트)</li>
        </ul>
        <hr>
    </div>
    <div class="right-section">
      
        <strong>주제 및 가설 </strong>
        <hr>
        <ul>
        </li>
        <li><p>주제는 &quot;언론사 홈페이지별 기사 추천 서비스 사례 분석&quot;이었다. 사실 이 주제는 꽤나 모호했다. &#39;언론사&#39;, &#39;홈페이지&#39;, &#39;기사&#39;, &#39;추천 시스템&#39;, &#39;사례&#39;와 같은 단어들의 정의와 특성이 분명하게 주어지지 않았기 때문이다. 상식적인 차원에서 아이디어를 떠올려도 카테고리를 분류하는 경우의 수가 매우 많아 보였다. 일단 언론사만 해도 보수 언론사와 진보 언론사, 중앙 언론사와 지역 언론사, 국내 언론사와 해외 언론사 등으로 나눌 수 있다. 기사도 스트레이트 기사와 심층 기사, 일반 기사와 광고 기사, 텍스트 기사와 시각화 기사 등으로 구분할 수 있었다. 이러한 세분화 과정을 주제에 포함된 &#39;언론사&#39;, &#39;홈페이지&#39;, &#39;기사&#39;, &#39;추천 시스템&#39;, &#39;사례&#39; 모두에 적용하고 프로젝트를 준비하는 것은 머리가 터질 것 같고 현실적으로 불가능하다고 생각했다.</p>
        </li>
        <li><p>이런 경우 해법이 될 수 있는 &#39;상대방 중심&#39; 접근법이 떠올랐다 . 주제의 원딩 자체에 집중하는 아카데믹하고 철저히 개념적인 접근법의 장단점은 명확해보인다. 장점은 자기 만족이 되는 일을 할 수 있다는 것이다. 사람은 지적인 호기심이 해결될 때 나름의 행복을 느끼는 것 같다. 언론이 무엇인지, 홈페이지가 무엇인지, 기사가 무엇인지 등에 대해 질문하고 사전적인 정의를 정확히 제시한다면 나름대로 뿌듯할 것이다. 하지만 이런 접근법의 단점은 상대방이 만족하는 대답을 하기 어려울 수 있다는 것이다. 정작 주제를 제시한 출제자가 가지는 문제의식과 듣고 싶어 하는 의견은 이러한 사전적인 정의가 아닐 수 있는 것이다. 그래서 이번에는 주제 단어에 집착하지 않고, 주제를 던져준 출제자에 대한 이해를 우선하고자 했다.</p>
        </li>
        <li><p>주제를 주신 박사님은 한국언론진흥재단 연구위원님이셨다. 대한민국 언론사 데이터 분석 및 추천 알고리즘 관련 분야의 권위자이신 것 같았다. 미디어 관련 논문을 쓴 한 석사생은 이미 이 분을 알고 있었고, 논문 작성 시 인용도 많이 했다고 했다. 그분이 하루 워크숍을 진행했을 때 느꼈던 점을 떠올려 보면, 그분은 언론사 시스템 운영 실태에 대한 강한 문제의식을 가지고 있는 것 같았다. 국내 포털사들의 정치 편향 문제로 &#39;뉴스트러스트 프로젝트&#39;라는 공공 최초의 대중적으로 신뢰성 있는 뉴스 배열 및 추천 알고리즘 코드를 만들고 배포하는 프로젝트를 주도하셨다고 했다. 이런 커리어 백그라운드를 고려해보니 발제 의도가 나름 짐작이 갔다. 그래서 이번 미니 프로젝트의 컨셉을 단순 케이스 스터디보다 실제 도메인 문제 발굴로 설정해야겠다고 생각했다.</p>
        </li>
        <li><p>이러한 컨셉 접근을 구체화할 가장 좋은 방법은 물론 1) &#39;개발&#39;이었다. 각 언론사나 포털사별로 어떤 기사 추천 알고리즘을 사용하는지 코드를 알아내고, 언론사별 유의미한 차별성을 짚어내는 것이었다. 하지만 모든 미디어 및 유통 회사가 마찬가지겠지만, 이들은 데이터와 기술에 아주 민감해서 실제로 내부적으로 어떻게 구현되는지 알아내기는 사실상 불가능하다는 판단을 했다. 차선책으로 2) &#39;검증&#39;의 방법이 떠올랐다. 사전 서칭을 몇 가지 해본 결과, 언론사별로 자신들이 사용하는 추천 시스템을 홍보하는 기사를 몇 가지 찾을 수 있었다. 그 핵심은 모두가 예상하다시피 AI이고, 조금 더 나아가 개인화 추천이었다. 이러한 공개된 소스를 잘 활용한다면, 우리 팀원들도 첫 프로젝트에 대한 부담을 덜고, 박사님이 원하실 프로젝트의 사회적 의미를 효과적으로 도출할 수 있을 것이라고 판단했다. 주말까지 이어진 팀 회의 결과, 프로젝트 방향을 언론사들이 공표한 기사를 바탕으로 추천 시스템을 확인하고 검증하는 것으로 정했다.</p>
        </li>
        <li><p>치열한 아이디에이션을 거쳐 &quot;검증&quot;이라는 프로젝트 컨셉을 잡고 나니, 이후 작업은 비교적 수월하게 진행됐다. 우리는 먼저 그들의 주장을 &quot;우리 회사는 홈페이지에서 AI 추천 시스템을 이용하고 있다&quot;라고, 가설을 설정했다. 실제로 동아일보, 부산일보 등은 자신들이 AI 추천 시스템을 이용하고 있다는 홍보 기사를 냈기 때문이다. 반대로 우리는 &quot;실제로는 AI 추천 시스템이 이용되지 않는다&quot;라는 임의의 가설을 세웠다. 우리가 직접 이용해본 결과, 체감상으로 그런 알고리즘 추천 시스템이 잘 작동하지 않는다고 느끼고, 코딩 강사님도 이러한 홈페이지에서 유저 개별 추천이 실제로 이뤄질 가능성은 낮아 보인다고 말씀하셨다. 하지만 이러한 직감적 근거는 똑똑한 상대방을 설득하기에는 빈약했다. 일반인이나 친구들 사이에서 스몰토크할 때는 충분히 설득력 있는 주장일 수 있지만, 비즈니스적 사안에 대해 박사님과 수강생들을 대상으로 단순히 체감상 혹은 업계 상황을 근거로 설득하기에는 부족했다. 따라서 조금 더 객관적이고 체계적인 틀을 갖춘 근거 제시와 설득의 흐름을 만들고자 했다.</p>
        </li>
        </ul>
        <strong>검증 설계</strong>
      <hr>
        <ul>
        <li><p>나름의 체계성을 갖춘 검증 과정을 설계하고자했다. 팀원들 간의 논의를 거친 결과 A/B 테스트를 떠올렸다. A/B 테스트는 사용자에게 제공되는 서비스의 두 가지 이상의 버전을 비교해 어떤 것이 더 나은 성과를 끌어내는지 판단하는 실험이다.이는 AI 추천 시스템의 가장 큰 특징인 개인화에서 아이디어를 얻은 것이다. 인공지능 추천 시스템의 목적은 개별화된 추천이니, 개별화된 정보를 제공했을 때와 제공하지 않았을 때를 비교하면 사람들이 자연스럽게 납득할 수 있다고 판단했다.</p>
        </li>
        <li><p>그렇다면 개별화된 정보는 어떤 핵심적인 변수로 설정 될 수 있을지 고민해봤다.&quot;로그인&quot;이 가장 강력한 더미 변수라고 생각들었다. 로그인이란 &quot;운영체제나 인터넷 사이트 등에서 자신의 계정을 이용하기 위해 사용자 인증을 거쳐 자신의 계정으로 접속하는 것&quot;이라고 정의된다. 결국 유저 데이터가 담긴 로그인된 계정 정보를 회사 측에 제공하고, 만일 콘텐츠 공급자가 비로그인 유저와 다른 정보를 제공한다면 AI 추천 시스템의 핵심인 개인화된 추천이 이뤄진다고 판단할 수 있었다.</p>
        </li>
        <li><p>그렇다면 로그인을 통해 구체적으로 어떻게 서비스 공급자에게 정보가 전달될 수 있을까에 대한 생각도 필요했다. 이에는 크게 두 가지 방식이 있을 수 있었다. 첫 번째는 수동적인 인적 정보 전달이다. 예를 들어, 내가 20대 서울에 사는 남성으로 회원 가입을 한다면 이것만으로도 개인화된 추천을 기대할 수 있을 것 같았다. 애초에 서비스나 마케팅 기획을 할 때 가장 먼저 하는 것이 타겟군 설정이고, 나는 그 인적 사항을 가진 사람임을 공급자에게 제공한 것이기 때문이다.</p>
        </li>
        <li><p>두 번째는 적극적인 정보 전달이다. 이 경우에는 유저의 활동이 기반이 된다. 만일 내가 정치 섹션의 기사만 30가지 읽고, 검색창에 &#39;윤석열&#39;, &#39;이재명&#39; 등의 키워드를 10번 입력했다면, 나는 시사 정치에 관심이 많은 유저라는 힌트를 공급자에게 줄 수 있는 것으로 보였다. 이번 프로젝트에서 우리가 검증하고자 하는 가설은 &quot;언론사의 개인화된 추천이 잘 이뤄지고 있다&quot;라는 명제이므로, 두 가지 방식을 유저 입장에서 병행해도 문제없다고 판단했다.</p>
        </li>
        <li><p>결과적으로 우리는 A/B 테스트를 통해 동일한 조건에서 유저 데이터를 갖춘 로그인 정보를 제공하면 홈페이지에서 어떤 추천 변화가 일어나는지 검증하고자 했다. 만일 로그인을 했을 때 명확한 변화가 있다면, 언론사의 AI 추천 시스템 도입에 대한 홍보는 믿을 만한 것이고, 변화가 없다면 우리의 직관적인 체감이 맞는 것으로 밝혀낼 수 있을 것으로 보였다.</p>
        </li>
      </ul>
      <strong>페르소나</strong>
      <hr>
        <ul>
        <li>이제부터는 팀원들과 나름 재미있게 진행한 아이디어 과정이었다. 각자의 인적 특성을 기반으로 페르소나를 설정하기로 했다. 로그인 정보 제공에도 나름의 캐릭터 특징이 있으면 좋겠다고 생각했다. 나는 바이오나 헬스에 관심이 많은 20~30대 남성을 페르소나로 설정했다. 다른 팀원은 연예 뉴스에 관심이 많은 20대 여성, 또 다른 팀원은 시사나 사회 뉴스에 관심이 많은 20대 똑똑한 여대생으로 설정했다.</li>
        <br>
        <li>로그인 변수의 실체인 선호도 표현도 분명히 했다. 각자 페르소나 특성에 맞게 성별, 나이 등의 데이터를 제공하며 회원 가입을 해서 인적 특성을 제공했다. 또한 가입 후 각자 관심사에 맞는 검색어 입력과 기사 구독을 했다. 나는 &quot;비타민&quot;이라는 검색어를 여러 번 입력하고 관련 기사만 30개 클릭했다. 이외의 다른 활동은 하지 않음으로써 바이오에 대한 관심만을 서비스 제공자에게 전달하고, 다른 입력이나 행동으로 선호도가 희석되는 것을 최대한 방지했다. 이러한 작업을 각자 페르소나에 맞게 &quot;코로나&quot;, &quot;연예&quot; 등의 키워드를 사용해 동아일보, 부산일보, 중앙일보에 각각 실시했다.</li>
        <br><li>경제학 모델에서는 항상 ‘세테리스 파리부스(Ceteris Paribus)’ 가정을 붙인다. 이는 라틴어로 &#39;다른 모든 조건이 동일하다면&#39;이라는 뜻으로, 실험 설계의 필수적인 가정이다. 진짜 독립변수를 가려내기 위해 다른 요소들을 최대한 비슷하게 맞춰두는 것이다. A/B 테스트에서도 이 가정은 핵심으로 보였다.</li>
        <br><li>로그인 변수를 제외한 나머지 온라인 환경은 최대한 비슷하게 맞춰두고자했다. 이를 위해 1) 팀원들 간 같은 날 같은 시간대에 2) 같은 네트워크를 사용하며 3) PC의 쿠키나 로그 기록을 최대한 가릴 수 있는 크롬 시크릿 브라우저를 사용했다. 이렇게 하면 유저 데이터가 아닌 시간적, 지리적, 로컬적 데이터 오염을 최대한 줄일 수 있을 것으로 판단했다.</li>
        </ul>
        <p><strong>결과 및 원인</strong></p>
        <hr>
        <ul>
        <li>결론부터 이야기하자면, 이번 실험으로는 유저 데이터를 기반으로 한 추천 시스템이 실제로 존재하지 않는 것으로 보였다. 로그인했을 때와 로그인하지 않았을 때 콘텐츠 추천 성격이 크게 변하지 않았기 때문이다. 예를 들어, 동아일보 홈페이지에서 바이오에 관심이 있는 나라는 유저가 시사, 사회 뉴스를 클릭했을 때 보여지는 추천 콘텐츠에 바이오나 비타민 관련 콘텐츠가 나오지 않았다. 동일한 시사, 사회 관련 콘텐츠가 추천되었는데, 이는 사용자 특성에 기반한 추천(CB)보다는 현재 보고 있는 콘텐츠(CF) 방식의 추천 시스템으로 보였다.</li>
        <li><p>이러한 현상은 각 페르소나가 각 언론사를 방문할 때 공통적으로 나타났다. 특히, 부산일보의 경우 CF 방식도 도입되지 않은 것으로 보였다. 로그인 유무와 상관없이, 어느 섹션의 기사를 클릭해도 추천 기사에 동일한 뉴스가 떴기 때문이다. 이것은 AI와는 거리가 먼 큐레이션 방식으로 보였다. 다만 중앙일보의 경우, 기자나 테마 구독이라는 명시적 콘텐츠 요청을 한 경우에는 이 요청이 홈페이지 추천 시스템에 반영된 것으로 보였다.</p>
        </li>
        <li><p>왜 추천 시스템이 제대로 작동하지 않는 것일까? 첫 번째로 떠오른 것은 언론사 특유의 아젠다 세팅 역할이다. 아젠다 세팅이란 언론사나 정당과 같은 사회적 기능을 수행하는 집단이 대중적 논의가 필요한 주제를 선정하고 여론을 유도하는 행위이다. 만약 언론사가 이러한 추천 행위를 단순히 유저의 기호에 맞춰서만 진행한다면, 공익성 차원에서 문제가 생길 수 있기에 의도적으로 하지 않을 수 있다고 생각했다. 그러나 이 원인에 대해서는 개인적으로 완전히 설득되지 않았다. 언론사들의 수익구조 악화와 적자 문제는 매년 심화되고 있다. 넷플릭스나 유튜브 같은 뉴미디어 기업의 강력한 유저 친화 알고리즘 기반 비즈니스 모델의 성공을 보면 배우려는 시도가 설명이 되지 않았다.</p>
        </li>
        <li>두 번째로는 콜드스타트 문제를 생각해볼 수 있다. 콜드스타트란 어떤 추천 시스템에서 초기에 풍부한 유저 데이터를 확보하지 못했을 때 발생하는 질 낮은 추천 문제로, 알고리즘이 제대로 작동하지 못하는 상황을 말한다. 이는 신용도가 중요한 비즈니스에서 더욱 큰 문제가 된다. 카카오페이와 같은 핀테크 금융회사도 이와 같은 문제로 인해 알고리즘 개발에 신중을 기했다는 글을 본 적이 있다. 언론사의 경우에도 이 문제를 겪었을 가능성이 크다고 추측했다.</li>
        <br>
        <li>대부분의 사람들은 홈페이지에 가입한 후 기사를 읽지 않기 때문에, &quot;유저 협업&quot; 기반 알고리즘을 작동시킬 만큼의 가입 유저 집단 자체가 부족할 수 있다. 결국, CF(협업 필터링) 시스템을 작동시킬 데이터 자체가 부족해질 것이다. 미국 뉴욕타임즈는 온라인 기사를 읽기 위해 회원가입 및 로그인을 필수로 요구하고, 국내에서는 한국경제신문이 &#39;로그인월&#39;을 도입했다는 기사를 본 기억이 났다. 이는 충성 고객층의 유저 데이터를 확보하려는 시도였을 수도 있다고 생각해 보았다.</li>
        <br>
        <li>세 번째로는 현실적인 기술 및 금전적인 문제를 고려할 수 있다. CF 알고리즘을 개발하고 구현하며, 이를 유지하는 데는 생각보다 많은 비용과 노력이 들기 때문이다. 언론사도 콘텐츠를 발행하는 기업인 만큼, 그간 축적된 데이터가 많을 것이다. 일례로 동아일보는 100년이 넘게 매일 신문이라는 콘텐츠가 발행됐다. 그러한 방대한 데이터를 저장하고, 그때그때 개인에게 맞는 기사를 추천하는 것은 쉽지 않은 작업이다. 차라리 만일 독자가 최신 뉴스만를 제일 원한다면, 단순히 CB(콘텐츠 기반) 시스템을 유지하는 것이 경적으로 효율적이지 않을까라는 생각도 들었다.</li>
        </ul>
        <p><strong>피드백 및 개선 사항</strong></p>
        <hr>
        <ul>
        <li>박사님도 언론사들이 AI 개인화 추천 시스템이 제대로 작동하지 않는다고 판단하셨다. 그 이유로는 세번째 현실적인 문제를 언급하셨다. 예를 들어, 우리가 조사했던 부산일보의 AI 추천 시스템 개발에 박사님이 직접 도움을 주셨는데, 중소 언론사의 현실은 상상 이상으로 열악하다고 하셨다. 부산일보의 경우 2023년 신문 발행업 매출액 기준으로 19위였고, 지역 언론사 중에서는 1위로 비교적 나은 편에 속했지만, 절대 매출액은 약 320억 원에 불과했고 영업이익은 약 -100억 원에 달했다. 악화된 비즈니스 상황 때문에 실제 AI 추천 시스템 운영이 이미 내부적으로 중단되었다고 하셨다.</li>
        <br><li>실험 설계상 예상치 못했던 문제도 하나 있었다. 바로 &quot;시차&quot; 였다. 박사님에 따르면 중앙일보사의 경우 유저 데이터가 반영되는 데 일주일 정도 걸린다고 했다. 우리가 가정했던 &quot;유저의 명시적인 행동이 서비스 공급자 시스템에 즉각적으로 반영될 것&quot;이라는 전제가 오류 일수도 있는 부분이었다. 물론 이 오류가 &quot;언론사는 AI 기반 추천 시스템을 운영하고 있지 않다&quot;는 우리의 가설을 당장 깨는 것은 아니었다. 중앙일보사의 경우 긴 시차 반영이 있지만 다른 언론사의 경우 즉각 반영 될 수 도 있는 부분 이었다. 그래도 다음 프로젝트를 진행할 때는 이 &quot;시차&quot; 문제를 염두해두고 테스트 설계를 해야겠다고 생각했다.</li>
        <br><li>프로젝트를 진행하면서 개인적으로 아쉬웠던 점은 데이터 부분이었다. 사실, 논문을 쓰고 학위를 받으려는 상황이 아니라 모든 과정을 완벽하게 잡아내고 일치시키며 계량화하기는 어려운 측면이 있었다. 그렇지만 참고 자료에서 전달할 수 있는 정보들,  예를 들면 콜드 스타트 문제를 해결하기 위해 얼마나 많은 데이터가 필요할지, 현재 확보된 데이터는 어느 정도일지 추정하는 내용 정도는 소프트하게 제시 할 수 있지 않았을까 하는 생각이 든다. 나중에 기획 경험이 더 쌓이고, 각 프로세스에서 소요되는 시간과 에너지를 줄일 수 있게 되면, 이런 부분들도 잡아보는 방식으로 진행해보고 싶다.</li>
        </ul>
    </div>
</div>
</body>
</html>
