<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>과제_ 당근알바 “알바 추천 서비스” 고도화_ PM 인턴 이후석 관점</strong></p>
<p><strong>1.</strong> <strong>당근알바 개요 및 타겟</strong></p>
<ul>
<li><p>개요</p>
<ul>
<li>요약 : 지역 기반 구인구직 서비스 </li>
<li>특징 : *직주 근접,      단기 중심</li>
<li>기능 : 웹사이트, 검색, 후기, 알림, 인증      등 </li>
<li>수익 : 광고, B2B      제휴 (광주 광산구, 에버랜드 제휴      사례 등)</li>

</ul>
</li>
<li><p>타겟</p>
<ul>
<li>**구인 : 자영업자 위주 → 간소화, 강점 중심ex) 모범      구인자  </li>
<li>구직 : 높은 MAU → 라이트      유저 위주</li>

</ul>
</li>

</ul>
<p>&nbsp;</p>
<p>**</p>
<ol start='2' >
<li>유저 문제 및 원인**</li>

</ol>
<ul>
<li><p>문제 : ***획일화된 알바 광고 추천</p>
<ul>
<li>예시 1  : 신도림      같은 집에 사는 50~60대 여성과 20~30대      남성의 알바 추천이 동일¹ </li>
<li>예시 2 :  합정에      잠깐 들른 20대 남성과 장기 거주 중인 20대      남성의 알바 추천이 동일²</li>
<li>문제화 : 첫 화면에 너무 맞지 않는 구인 정보를 제공 → 페인 포인트 가능성↑ 신뢰도 ↓</li>

</ul>
</li>

</ul>
<p> </p>
<ul>
<li><p>원인 : <strong></strong>미세분화된 구인 광고 설정</p>
<ul>
<li>현재 : 4단계의 지역, 하루 단위 예산으로만      광고 설정이 되는 상태⁴</li>
<li>데이터 : 법정동, 행정동 등의 IP, 광고 캐시, 하루 단위 소모량 등 금융 데이터 사용      추정</li>

</ul>
</li>

</ul>
<p>&nbsp;</p>
<p><strong>3. 해결 방안</strong></p>
<ul>
<li><p>해결1 : 가장 가볍게 실행할 수 있는 방법</p>
<ul>
<li>성별, 나이 데이터를 활용한 추가 세분화 _ 수집      근거 : 당근 서베이³</li>
<li>EX) 구인 : 광고주가 “짐      옮기기” 분류의 알바를 20~30대 남성에게만      최상단 노출되게 설정 </li>
<li>구직 :  20~30대      남성은 5~60대 여성에 비해 추가 그 광고에 추가 노출      ( 최상단 + 일반 목록)</li>

</ul>
</li>

</ul>
<p> </p>
<ul>
<li><p>해결 2 : 더 많은 리소스가 필요한 작업 </p>
<ul>
<li>유저 히스토리 (검색 기록, 저장 목록      등)을 활용한 개인화 광고 노출</li>
<li>EX) 광고주가 “반려동물 돌봄” 설정      시 “고양이”를 자주 검색했던 개별 유저에게 최상단      노출</li>
<li>고려 : 유사어, 오타 등을 고려한 방대한      사용자 사전 단어 구축의 필요성 </li>

</ul>
</li>

</ul>
<p>&nbsp;</p>
<p> </p>
<ul>
<li><p>공통 </p>
<ul>
<li>방식 : MVP  | PMF      → OKR</li>
<li>지역 : 순차적 서비스 오픈 ( 밀집도      ↑ → 밀집도 ↓ → 전국) </li>
<li>EX) 당근알바 : 서울시      목동(주거), 인천(상가) → 사전 예약 → 전국 </li>

</ul>
</li>
<li><p>협업</p>
<ul>
<li>회의 : 프로덕트 중심의 기능이 맞을까? </li>
<li>개발 : 구현 가능성 및 가용 리소스, 에러      가능성 확인 </li>
<li>디자인 : 성별, 연령대, 유저 히스토리를 고려하면 개인화된 UI의 가능성</li>
<li>리서치 : 우선시 되어야 하는 기능이 맞을까? 진짜      페인 포인트가 맞을까에 대한 확인</li>

</ul>
</li>

</ul>
<p>&nbsp;</p>
<p><strong>4. 실험 설계</strong></p>
<ul>
<li>방식 : A/B 테스트</li>
<li>가설 : 해결1 혹은 2를 실행하면 기존 방식에 비해 광고 노출 수 대비 클릭, 지원     매칭률이 높아진다.</li>
<li>지표 : 행티 : 광고 노출 수, 클릭 수, 매칭 수 및 소요 시간 등을 이용한 수치 </li>
<li>수집 : 구글 태그매니저와 페이스북 픽셀 데이터 등 </li>
<li>분석 : SQL을 활용한 추출 및 Python, Excel     활용한 분석, 시각화</li>
<li>의의 : 당근알바 유저 페인포인트 해소 및 신뢰도 향상 효과를 위한 노력</li>

</ul>
<p>&nbsp;</p>
<p><strong>각주</strong></p>
<p>      <strong>*</strong> 지역의 산업구조와 밀접한 관련을 맺을 수밖에 없다. EX) 마포구 – 요식, 서비스업 | 미스매칭</p>
<p>      ** 노동 수요가 공급을 만든다는 전제하에 구직보다 “구인 중심 서비스”로 운영됐다.</p>
<p>      *** “{지역}동 이웃들이 많이 찾는 알바”를 말함. 다만 원리에 대한 심층 이해가 필요하다. 광고를 띄어서,
 글의 노출 수가 높아지고, 결국 여러 지표가 높은 글이 최상단에 올라오는건지 아니면 그냥 광고글 자체가 최상단에 올라오는 건지 아직 나한테는 불확실하기 때문이다. </p>
<p>      <strong></strong> 한층 더 깊은 원인을 고려해 볼 필요가 있기는 하다. 그렇다면 애초에 “왜 미세분화 됐었냐”는 질문을 할 수 있기 때문이다. 현 시기에는 내부적으로 “총 조회수 상승”이 가장 큰 광고 섹터 목표라서 그렇다는 생각도 들지만 이 또한 지금은 나한테는 불확실한 논리 전제라고 느껴졌다. </p>

</body>
</html>