<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h3>신사업 기획 보조 - 정부연구개발캘린더</h3>  
    <style>
        body {
                max-width: 800px; 
        }
    </style>
    <hr>

    

    <strong>이미지</strong>
    <hr>
    <a href="../images/캘린더.jpg"><img src="../images/캘린더.jpg" alt=""></a>
    <strong>제작 단계</strong>
    <hr>
    <ul>
        <li>공고 확인 → 개요 및 년간 일정 발췌 → 엑셀 정리 및 내용 교차 검증→ 디자인 및 출력 외주</li>
    </ul>
    <a href="../images/사업공고목록.png"><img src="../images/사업공고목록.png" alt=""></a>
    <a href="../images/사업개요.png"><img src="../images/사업개요.png" alt=""></a>
    <a href="../images/캘린더2.png"><img src="../images/캘린더2.png" alt=""></a>

</body>
</html>