<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="../css/style.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combined View</title>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="margin: 0;">확장 프로그램 개발</h3> <!-- h2 마진을 0으로 설정 -->
    <div>
        <div style="margin: 0;"> 
          <div style="margin: 0;">
            <a href="https://krpythondestroyer.github.io/portfolio/templates/test.html">🌐</a>
          
          </div>
            <!-- &nbsp;&nbsp;&nbsp; 상세보기 : https://bit.ly/418D9IB -->
        </div>
        <div style="margin: 0;"> <!-- 첫 번째 div의 마진을 0으로 설정 -->
    <strong style="margin: 0;">
        <!-- <span id="phoneIcon"></span>
        <span id="emailIcon"></span> -->
        <!-- <span id="specialLink"></span> -->

    </strong>
        </div>
    </div>
</div>


      <img src="../images/원스탭 박스.png" alt="">
      <hr />
  
      <section class="flex-container">
          <div class="flex-container">
        <strong>개요</strong>
      <ul>
          <li>
              기사의 어려운 용어로 독자가 독해에 어려움을 겪음
  
                  <li>웹 기사는 지면 한계로 각주 제공이 불가능한 상황 </li>
  
          </li>
          <li>
              *간편 검색으로 즉시 뜻 확인 가능한 프로그램 개발 
              <!-- <a href="../images/원스탭레퍼.png">EX) 전자책 각주</a>   -->
              <li>독자들의 콘텐츠 독해력 상승 및 편의성 증대 기대</li>
              <li>간단한 설명 자료 작성 및 설문조사 수집 중</li>
  
          </li>
      </ul>
    </div>
    <div class="flex-container">
      <strong>업무</strong>
      <ul>
          <li>기간: 2024.10.07 ~ 2024.11.25 (8주)</li>
            <li>방식: MVP</li>
          <li>인원: 동아일보 미디어 데이터 과정 1인</li>
          <li>일정: <a href="../images/원스탭일정.png">Notion</a></li>
          <li>기여: 파이널 개인 프로젝트</li>
        </ul>
  
    </div>

  </section>
  <hr>
  <strong>단계</strong>
  <section class="flex-container">
      <div class="flex-container">
        <ol start="1">
          <li>기획</li>
       
          <ul>
              <li>문제 발견 : 독자 어휘력, 문해력 문제 등</li>
              <li>아이디에이션 : 사이트 개설 → 익스텐션 개발</li>
              <li>구상 : 링크 형태 → 각주 형태</li>
              <li>레퍼런스 : 팝업 방식 → 화면 분할 방식</li>
          
            </ul>
        </ul>
      </ul>
    </ol>
  </div>
    <div class="flex-container">
      <ol start="2">
        <li>핵심 개발 : 긁고 - 검색 기능</li>
        <ul>
  
          <li>**API : 우리말샘,구글,OpenAI
          </a> → 네이버</li>
          <li>화면 : IFRAME → SIDEPANEL</li>
          <li>데이터 : 윈도우 로컬 → 크롬 로컬 스토리지</li>
          <li>통신 : 백엔드 개발 → 퍼미션 설정</li>
        </ul>
      </ol>
    </div>
  </div>
  
  </section>
  <section class="flex-container">
  <div class="flex-container">
  <ol start="3">
    <li>부가 개발: 수정 및 링크 한 탭 이동 기능</li>
    <ul>
      <li>강조 : strong 태그</li>
  
      <li>삭제 : 크롬 로컬 스토리지값 삭제</li>
  
      <li>원문 이동 :API에서 파싱된 URL 이동</li>
  
      <li>북마크 이동 : 검색시 저장된 URL 이동</li>    
  </ul>
  
  
  </ul>
  </ol>
  </div>
  <div class="flex-container">
  <ol start="4">
  <li>개발 후</li>
  <ul>
  

     
      <li>설문조사 :   
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform?usp=header">🔗구글폼</a>
              <ul><li><a href="./survery.html">상세보기 </a></li></ul>
     
            
              <li>측정 :
                  기간별 총 단어 검색 수 
                           <ul><li>제공 : "네이버 API 통계" </li>  

                           
                          </ul>
                              <li><a href="../images/원스탭홍보2.jpg">설명 자료.jpg</a>
                                  <ul>
                                    <!-- <li>컨셉: 편리함, 심플함, 친절함</li> -->
                                  
                        
                                    <li>구조 : 정의, 배경, 장점, 타겟, 유도</li></ul>

  
                                  </ol>
  </div>
  
  </section>
  <hr />
      <strong>각주 </strong>
      <div>
        *
        <ul>
        <li>"디지털 트윈" 검색 예시 :<a href="../images/원스탭 박스.png">화면.jpg</a>, <a href="../images/원스탭기능.png">내용.jpg</a></li>
        <li>플로우 도식화 : <a href="../images/원스탭구조0.png">유저.jpg</a>, <a href="../images/원스탭구조1.png">데이터.jpg</a></li>
              
          </ul>
      </ul>
      **
      <ul><li><a href="https://opendict.korean.go.kr/service/openApiInfo">🔗우리말샘</a> : : 국립국어원에서 제공하는 단어 사전 오픈 API로, 무료라는 장점이 있지만 검색 결과가 지나치게 단순해 정보 제공의 유연성이 부족하다고 판단되어 보류되었다.  
        </li>
      <li><a href="https://developers.google.com/custom-search/v1/overview?hl=ko">🔗구글 Custom Search Json</a>:구글에서 제공하는 스니펫형 API로 검색 유연성은 뛰어나지만, 부분 유료 서비스다. (하루 100쿼리까지 무료, 이후 1000쿼리당 5달러, 최대 10000쿼리 제한) 단어 검색 프로젝트의 기획 의도와 맞지 않는 스니펫 방식이라 보류되었다.</li>
      <li><a href="https://openai.com/index/openai-api/">🔗OpenAI gpt-4o-mini</a>: OpenAI에서 제공하는 LLM 기반 API로, 프롬프트 및 파인 튜닝을 통해 출력 유연성은 아주 높지만 부분 유료이다.
        (입력, 출력 토큰 100만개당 각각 0.15$, 0.60$, <a href="../templates/test2.html">웹 크롤링 및 감성 분석 프로젝트</a> 진행시 사용 금액 500원 미만).
      생성형 AI라는 특성이 단어 검색이라는 프로그램 기획 의도에 부적합해 보류되었다. </li>
      <li><a href="https://developers.naver.com/docs/serviceapi/search/blog/blog.md">🔗네이버 Search API</a>: 네이버에서 제공하는 백과사전 API로, 하루 25,000회 검색 제한이 있지만 무료로 이용할 수 있다. 백과사전식 정보 제공 방식이 검색 결과의 유연성을 높여주며, 프로젝트의 기획 의도와도 부합해 최종적으로 채택되었다. </li>
      </ul>


    </div>
    <br>
    <!-- <li>통신 : CORS 문제 해결을 위한 퍼미션 설정</li>
    <li><a href="../images/깡통.png"> 깡통</a></li> -->
    

</body>
</html>
