<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <h3>정부연구개발캘린더</h3>  
    <hr>
    <img src="../images/캘린더.jpg" alt="">
    <hr>
    
    <section class="flex-container">
        <div class="flex-container">
            <strong>개요</strong>
            <ul>
                <li>2024년 33년만에 정부 R&amp;D 예산 삭감</li>
                <li>기존 사업 폐지에 따라 신규 사업 필요한 상황</li>
                <li>사업 공고를 한눈에 볼 수 있는 자료 제작</a></li>
                <li> 게시판을 통한 온라인 및 사내 오프라인 배포</li>
                <li>실무자들의 사업 공고 확인 편의성 증대 기대</li>
            </ul>
        </div>
        <hr>
  
        <div class="flex-container">
            <strong>업무</strong>
            <ul>
                <li>일정: 2024.01.10 ~ 2024.01.23 (약 2주)</li>
                <li>인원: 서울테크노파크 전략기획팀 3인</li>
                <li>협업: Bizbox, Kakaotalk</li>
                <li>기여: 33% (공고 모니터링, 발췌 및 엑셀 정리)</li>
            </ul>
        </div>
    </section>
  
    <hr>
  
    <section class="flex-container">
        <div class="flex-container">
            <strong>제작 단계</strong>
            <ol start="1">
                
                    <li><a href="../images/사업공고목록.png">자료 수집</a></li>
                    <ul>
                        <li>각 부처 R&amp;D 사업 공고 모니터링</li>
                        <li>제작 기간 중 수동 확인 </li>
                        <li>과기부, 중기부, 산자부 위주</li>
                    </ul>
                
                </ol>
        </div>
  
        <div class="flex-container">
            <ol start="2">
                
                    <br>
                    <li>
                    <a href="../images/사업개요.png">자료 정리 </a></li>
                    <ul>
                        <li>공고 발췌 및 엑셀 정리</li>
                        <li>2024 정부 R&amp;D사업 8개 부처 약 250개</li>
                        <li>행: 기관, 세부, 내역 사업 공고명 등</li>
                        <li>열: 공고, 접수, 협약 등 일정 월별 정리</li>
                        <li>신규 사업 O | 기존 사업 X</li>
                    </ul>
                <br>
            </ol>
        </div>
    </section>
  
    <section class="flex-container">
        <div class="flex-container">
            <ol start="3">
                <li>
                    <a href="../images/캘린더2.png">자료 검토</a></li>
                    <ul>
                        <li>팀원간 내용 교차 검증</li>
                        <li>오탈자 및 일정 검토 위주</li>
                    </ul>
                
                </ol>
        </div>
  
        <div class="flex-container">
            <ol start="4">
                <li>자료 활용</li>
                    <ul>
                        <li>디자인 및 인쇄 외부 업체 컨택트 및 요청</li>
                        <li>QR 추가</li>
                    </ul>
                
                </ol>
        </div>
    </section>
<hr>


</body>
</html>
