<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>Document</title>
</head>
<body>

            <h3>기획 보조 - 정부연구개발캘린더</h3>  
            <hr />
            <strong>배경 및 목표 </strong>
            <ul>
                <li>2024년 33년만에 정부 R&D 예산 삭감</li>
                <li>기존 사업 폐지에 따라 신규 사업 필요한 상황 </li>
                <li>관련 사업 공고를 한눈에 볼 수 있는 자료 제작</li>
            </ul>
            <hr>
            <strong>제작 단계</strong>
            <ul>
                <li><a href="../images/사업공고목록.png">각 부처 R&D 사업 공고 모니터링</a></li>
                <li><a href="../images/사업개요.png">세부 사업 개요 및 연간 일정 발췌</a></li>
                <ul>
                    <li> 2024 정부 R&D사업 8개 부처 약 250개 세부 사업 공고 취합 </li>
                    <li>공고, 접수, 협약 위주</li>
                </ul>
                <li><a href="../images/캘린더2.png">엑셀 정리 및 팀원간 내용 교차 검증</a></li>
                <li>디자인 및 인쇄 출력 외주</li>
                <ul>
                    <a href="../images/캘린더QR.png"><li>QR 사진 추가</li></a>
                </ul>
            </ul>

            <hr>
            <strong>업무 성과</strong>
            <ul>
                <li> <a href="../images/캘린더.jpg">캘린더 제작⭐️</a></li>
                <li> 전사 및 전국 유관 기관 온오프라인 배포</li>


            </ul>
            <hr>
        
            <strong>업무</strong>
            <ul>
                <li> 기간 : 2024.09.19 ~ 2024.09.30 (약 2주)</li>
                <li> 인원 : 서울테크노파크 전략기획팀 3인</li>
                <li> 협업 : Bizbox, Kakaotalk</li>
                <li> 기여 : 33% (공고 모니터링, 발췌 및 엑셀 정리)</li>
            </ul>
            <hr />
            <style>
                body {
                        max-width: 800px; 
                }
              </style>
</body>
</html>
