<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <p style='margin-top:0cm; margin-right:0cm; margin-bottom:8.0pt; margin-left:0cm; text-align:justify; font-size:13px; font-family:"맑은 고딕";'>
        <strong><span style="font-size:15px; line-height:107%;">서울연구개발지원단</span></strong>
      </p>
      <hr>


      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;font-size:13px;font-family:"맑은 고딕";'><strong>사업 개요</strong></p>
      <ul style="margin-left: 26px;">

            <li>목적: 서울지역 R&D 기반의 자생적 혁신 생태계 조성</li>
            <li>대표 성과: 서울시 R&D 사업성과 조사분석, 전략산업발굴 연구 보고서 발간</li>
            <li>발주처: 과학기술정보통신부 (연구개발특구진흥재단)</li>
            <li>년도: 계속사업</li>
            <li>예산: 5억원 (2023년 기준, 지방비 국비 5:5 매칭)</li>


      </ul>

        

      </ul>
      
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;font-size:13px;font-family:"맑은 고딕";'>&nbsp;</p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;font-size:13px;font-family:"맑은 고딕";'><strong>개인 업무</strong></p>
    <ul style="margin-left: 26px;">
        <li>연구비 행정<ol style="list-style-type: circle;">
                <li>정책 연구비 지출 확인엔 두 과정이 필요</li>
                <li>사내 결재&nbsp;&rarr;&nbsp;중앙 정부 결재</li>
                <li>사내 결재는 재무팀 검토</li>
                <li>중앙 정부 결재는 과기부 검토</li>
                <li>중앙정부 집행 및 결의 등록 업무를 맡은 상황</li>
            </ol>
        </li>
    </ul>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;text-align:justify;font-size:13px;font-family:"맑은 고딕";'>&nbsp;</p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;font-size:13px;font-family:"맑은 고딕";'><strong>업무 과정</strong></p>
    <ul style="margin-left: 26px;">
        <li>Ezbaro&nbsp;활용한 연구비 집행 및 결의 지원<ol style="list-style-type: circle;">
                <li>연구비 사용내역 확인</li>
                <li>사내 결재 자료 확인</li>
                <li>1차 누락 자료 담당자 요청</li>
                <li>2차 미응답 리마인드</li>
            </ol>
        </li>
    </ul>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;text-align:justify;font-size:13px;font-family:"맑은 고딕";'>&nbsp;</p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;font-size:13px;font-family:"맑은 고딕";'><strong>업무 성과</strong></p>
    <ul style="margin-left: 26px;">
        <li>집중 기간&nbsp;100건,&nbsp;이외&nbsp;50건 수시 처리</li>
        <li>마감 기한내 회계 결산 완료</li>
    </ul>
</body>
</html>
