<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    UX
    <hr>
    추천 아티클 
    <ul>
        <li><a href="https://brunch.co.kr/magazine/uxlabel">라인 UX WRITER 전주경 </a></li>
    </ul>
    <hr>
    개인 UX WRITING 제안
    <ul>
        <li><a href="./카카오페이.html">카카오페이 - 기본 교통카드 설정안 </a></li>
    </ul>
</body>
</html>