<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    동아일보 미디어 프론티어 부트 캠프
    <hr>
            <ul>
                <li>경영경제 기사 단어 검색 확장프로그램 개발 (개인)</li>
                <ul>
                    <li>JS를 활용한 네이버 검색 API 호출 및 출력</li>
                    <li><a href="../templates/원스탭.html">프로토타입 개발 및 홍보 자료 작성</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform?usp=header">피드백 리서치 자료 수집 중</a></li>
                </ul>
            </ul>
            
            <ul>
                <li>전기차 키워드 기사 데이터 수집 및 분석 (팀)</li>
                <ul>
                    <li><a href="./웹크롤링.html">Python을 활용한 웹 크롤링 및 텍스트 분석</a></li>
                    <li>2024년 다음 기사 데이터 1000개 처리</li>
                </ul>
            </ul>
            <hr>
            <ul>
                <li>언론사별 추천 시스템 분석</li>
                <ul>
                    <li><a href="../templates/추천시스템.html">로그인 변수를 통한 언론사별 추천 시스템 분석</a></li>
                    <li>남성 페르소나 설정 및 테스트</li>
                </ul>
            </ul>
            
            <!-- <ul>
                <li>전기차 키워드 기사 데이터 수집 및 분석 (팀)</li>
                <ul>
                    <li><a href="./웹크롤링.html">Python을 활용한 웹 크롤링 및 텍스트 분석</a></li>
                    <li>2024년 다음 기사 데이터 1000개 처리</li>
                </ul>
            </ul> -->
    
</body>
</html>