<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../index.html" class="article_title">A</a>
</head>
<body>
    <h1 style="text-align: center;">목표</h1>
    <hr>
    <p style="text-align: center;">구독자 중심<p>
    <hr>
    <a href="https://www.donga.com/en/article/all/20240926/5191198/1">영자 동아일보</a>
    <hr>
    <a href="https://dbr.donga.com/">고급 지식 플랫폼</a>
    <a href="https://home.ebs.co.kr/greatminds/index">위대한 수업</a>
    <a href="https://folin.co/">폴인</a>
    <br>
    
    <br>
    
    
</body>
</html>
