<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5892XK94');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- <a href="index.html" class="article_title">가</a> -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5892XK94"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <footer>
        
        <table>
            <tbody>
                <tr>
                    <td><a href="./0.html">자기소개</a></td>
                    <!-- <td><a href="./편성제안.html">편성 제안</a></td> -->
                    <td><a href="./웹크롤링.html">웹크롤링</a></td>
                    <td><a href="./추천시스템.html">추천분석</a></td>
                    <td><a href="./캘린더.html">캘린더</a></td>
                    <td><a href="./번외.html">스핀오프</a></td>
                    <td><a href="../index.html">처음으로</a></td>
                </tr>
                
        
        
            </tbody>
        
        </table>
    </footer>
        채널 A 로고 활용 IP 활성화 방안 (가상)
        <hr>
        프로젝트 기획안
        <br>- 미래 해외 진출을 염두한 범용적 IP의 필요성
        <br>- 개별 콘텐츠 중심의 IP는 마케팅 효과가 단발성이라는 문제점
        <br>- 최근 젊고 역동적이게 리브랜링된 채널 A의 한 획 로고를 활용
        <br>- 젊은 디지털 및 모바일 유저들에게 글로벌 각인
    
        <hr>
        팀 구성 및 역할: 
        <br>- DAMG 애자일 조직
        <br>- 팀원 A: 채널 A 경영전략실 IP 이노드라이브팀
        <br>- 팀원 B : 채널 A B&C 비주얼 브랜딩 팀
        <br>- 팀원 C : 채널 A 미디어커머스팀
        <hr>
    <p style="text-align: center;">
        <img src="../images/AI2.png" alt="">
    </p>
    <hr>
    <hr>

</body>
</html>



