<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
서울테크노파크 전략기획팀 인턴 
    <hr>
    <ul>
        <li>서울연구개발지원단 프로젝트</li>
        <ul>
            <li>연구비 지출 내역 상시 결의 및 관리 (총 150여 건)</li>
        </ul>
    </ul>
    <ul>
        <a href="../images/캘린더.jpg"><li>2024 정부연구개발캘린더 제작</li></a>
        <ul>
            <li>R&D 세부사업 공고 자료 통합(8개 부처 260여개)</li>
            <li>디지털 및 실물 캘린더 제작 및 사내 대외 배포</li>
        </ul>
    </ul>

    
</body>
</html>