<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../index.html" class="article_title">A</a>
<head>
<body>
    <h1 style="text-align: center;">성격</h1>
    <hr>
    <p style="text-align: center;">MBTI<p>
    <hr>
    <br>
    <img src="../images/ENTJ.png" alt="" width="400"  height="300">
    <br>
    
    
</body>
</html>
