<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h3>확장 프로그램 개발</h3>
    <hr />

<strong>배경 및 목표</strong>
    <ul>
        <li>
            웹 콘텐츠에서 특정 단어/용어로 독자가 독해에 어려움 발생으로 콘텐츠 만족도 저하

                <li>용어 각주 제공 요청(VOC) 증가하나 지면 한계로 각주 제공 불가</li>

        </li>
        <li>
            사용자가 브라우저에서 특정 단어를 간편 검색해 정보를 즉시 확인 가능한 확장 프로그램 개발

                <li>독자들의 콘텐츠 독해력 상승 및 정보 검색 시간 단축으로 독자 편의성 증대 기대</li>

        </li>
    </ul>




    <hr />
<strong>단계</strong>
    <ol>
        <li>
            기획안 작성 및 확장 프로그램 파악
            <ul>
                <li>뉴스 도메인 문제 조사</li>
                <li>해결 프로그램 구상 및 실현 가능성 점검</li>
                <li>유사 프로그램 수집 및 분석 (구글 딕셔너리, 토비, 랭기지 리액터)</li>
                <li>확장 프로그램 공식 문서 공부</li>
            </ul>
        </li>
        <li>
        핵심 기능 개발
            <ul>
                <li>드래그 검색 이벤트 구현</li>
                <ul>
                    <li>API 연동 및 정보 출력 (우리말샘 API에서 네이버 API로 교체)</li>
                    <li>인터페이스 공간 설정 (IFRAME 문법에서 SIDEPANEL 형식으로 교체)</li>
                    <li>매니페스토 설정 (CORS 문제 해결을 위한 퍼미션 설정)</li>
                    <li>크롬 로컬 스토리지 활용 (크롬 싱크 스토리지를 염두)</li>
                </ul>
            </ul>
        </li>
        <li>
        기능 고도화
            <ul>
                <li>강조, 삭제, 백과사전, 저장된 페이지 링크 이동 구현 (한 탭 링크 이동)</li>
                <li>단어의 연속 저장 기능 도입</li>
            </ul>
        </li>
        <li>
        디자인 조정 및 마케팅 컨셉 설정
            <ul>
                <li>폰트 사이즈 및 자간 행간 조정 (동아일보 기사 양식 참조)</li>
                <li>효율도우미 (간편한 사전 검색 + 탭 전환 비용 감소)</li>
                <ul>
                <li><a href="./원스탭홍보.html">프로그램 홍보 자료 작성</a></li>
                </ul>
            </ul>
        </li>
    </ol>

    <hr />
<strong>결과 및 디벨롭</strong>
    <ul>
        <li><a href="./원스탭코드.html">프로토타입 개발🖼️</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform?usp=header">설문 조사 자료 수집</a></li>
    </ul>

    <hr />
<strong>업무</strong>
    <ul>
        <li>기간: 2024.10.07 ~ 2024.11.25 (8주)</li>
        <li>인원: 동아일보 미디어 프론티어 과정 1인</li>
        <li>일정:<a href="../images/원스탭일정.png">Notion</a></li>
        <li>기여: 멘토와 함께하는 개인 프로젝트</li>
    </ul>

    <hr />
<strong>참고자료</strong>
    <ul>
        <li><a href="../images/원스탭구조0.png">유저플로우</a></li>
        <li><a href="../images/원스탭구조1.png">데이터 플로우</a></li>
        <li><a href="../images/원스탭데이터구조.png">데이터 저장형태</a></li>
    </ul>
</body>
</html>
