<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h3>확장 프로그램 개발</h3>
    <hr />

<strong>배경 및 목표</strong>
    <ul>
        <li>
            기사의 어려운 용어로 독자가 독해에 어려움을 겪음

                <li>웹 기사는 지면 한계로 각주 제공이 불가능한 상황 </li>

        </li>
        <li>
            독자가 간편 검색으로 뜻을 즉시 확인 가능한 프로그램 개발
<!-- 
                <li>독자들의 콘텐츠 독해력 상승 및 정보 검색 시간 단축으로 독자 편의성 증대 기대</li> -->

        </li>
    </ul>




    <hr />
    <strong>개발</strong><sup>1</sup>

            <ul>
                <li> 핵심 : 긁고 - 검색 기능</li>
                <li> 부가 : 수정 및 링크 한 탭이동 기능</li>
                <li> 도식화 : 유저 및 데이터 플로우</li>

    </ul>


    <hr />
    <strong>결과</strong><sup>2</sup>
    <ul>
        <li>프로토타입 개발</li>
        <li>홍보자료 작성</a></li>
        <li>설문조사 자료 수집</li>
    </ul>

        <hr>
        <strong>측정</strong><sup>3</sup>
        <ul>
            <li>프토토타입 : 총 단어 검색 수 (날짜별, 요일별)</li>
            <li>정식 출시 : 프로덕트 리뷰 및 평점, 다운로드 수</a></li>
            <li>개발 필요 : 액티브, 리텐션 유저 수 </li>
        </ul>
    
            <hr>
    <strong>업무</strong>
    <ul>
        <li>기간: 2024.10.07 ~ 2024.11.25 (8주)</li>
        <li>인원: 동아일보 미디어 프론티어 과정 1인</li>
        <li>일정: Notion<sup>4</sup></li>
        <li>기여: 파이널 개인 프로젝트</li>
    </ul>

    <hr />


</body>
</html>
