<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    JS 활용한 네이버 API 호출 및 출력
    <hr>
    <a href="../images/원스탭구조0.png"><img src="../images/원스탭구조0.png" alt=""></a>
    <a href="../images/원스탭구조1.png"><img src="../images/원스탭구조1.png" alt=""></a>
    <a href="../images/원스탭데이터구조.png"><img src="../images/원스탭데이터구조.png" alt=""></a>
    <a href="../images/원스탭일정.png"><img src="../images/원스탭일정.png" alt=""></a>
</body>
</html>