<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

    <h1>시사 단어 간편 검색 프로그램, "원스탭"</h1>
    <hr>
    <h2>"어? 이 단어 무슨 뜻이지?"</h2>
    시사 기사나 콘텐츠를 읽다 보면 한 번쯤 이런 생각이 드셨을 거예요. 모르는 단어가 나오면 맥락을 놓치기 쉽고, 검색하러 다른 탭을 열었다가 본문으로 돌아오는 것도 여간 번거로운 일이 아니죠.</p>
    
    <p>이제 그런 고민은 <strong>“원스탭”</strong>으로 한 방에 해결하세요!</p>
    
    <hr>
    
    <h2>“원스탭”이 뭐예요?</h2>
    <p>“원스탭”은 <strong>크롬 확장 프로그램이에요.</strong><br>
    모르는 단어를 긁고 검색만 하면 바로 뜻을 확인할 수 있죠.</p>
    
    <p>번거로운 탭 이동, 그만!<br>
    읽던 흐름, 그대로 유지!</p>
    
    <p>여러분은 콘텐츠에 집중하고, 나머지는 “원스탭”이 알아서 할게요.</p>
    
    <hr>
    
    <h2>왜 “원스탭”을 만들었나요?</h2>
    <p>“이 단어 때문에 기사 읽기가 어려워요!”<br>
    “내용은 좋은데 이해가 안 돼요...”</p>
    
    <p>뉴스 독자분들의 이런 목소리를 들을 때마다 고민이 많았어요.<br>
    모든 단어에 각주를 달 순 없고, 그렇다고 독자들이 매번 검색하러 나가는 것도 번거로우니까요.</p>
    
    <p>그래서!<br>
    <strong>여러분이 필요한 정보를 쉽고 빠르게 찾을 수 있도록</strong><br>
    “원스탭”을 만들게 되었어요.</p>
    
    <hr>
    
    <h2>어떻게 작동하나요?</h2>
    <ol>
        <li>궁금한 단어를 <strong>긁고 검색</strong>!</li>
        <li>바로 뜻과 정보를 확인하세요.</li>
    </ol>
    
    <p>더 이상 검색 엔진에 단어를 치고, 탭을 왔다 갔다 하지 않아도 돼요.<br>
    <strong>지금 보고 있는 화면에서 모든 걸 해결할 수 있답니다.</strong></p>
    
    <hr>
    
    <h2>“원스탭”이 가져올 변화</h2>
    <ul>
        <li>모르는 단어 때문에 흐름이 끊길 걱정, 끝!</li>
        <li>필요한 정보를 바로 확인해 시간을 절약하세요.</li>
        <li>독해가 쉬워지면, 콘텐츠가 더 친근하게 느껴질 거예요.</li>
    </ul>
    
    <hr>
    
    <h2>지금까지의 여정</h2>
    <p>“원스탭”은 2024년 10월 7일에 시작해 <strong>8주 동안</strong> 열심히 개발했어요.</p>
    
    <ul>
        <li><strong>비용은 최소화!</strong><br>→ VS Code, GitHub 같은 무료 도구 활용</li>
        <li><strong>협업은 최적화!</strong><br>→ Slack과 Notion으로 똑똑하게 진행</li>
    </ul>
    
    <hr>
    
    <h2>앞으로의 계획</h2>
    <p>“원스탭”은 이제 프로토타입 개발을 완료하고, 곧 여러분과 만날 준비를 하고 있어요.</p>
    
    <ul>
        <li>더 빠르고 스마트하게 작동하도록 계속 업데이트할 예정이에요.</li>
        <li><strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoTWd8JKbFUzhIDFV3awxU0VNc8jvNuRLrIIzcQADtPoVmdA/viewform?usp=header">설문 조사 자료</a></strong>도 있으니 참여해 주세요!</li>
    </ul>
    
    <hr>
    
    <p><strong>“원스탭”으로 독해 고민 한 방에 해결하세요!</strong><br>
    더 쉽고 재미있는 콘텐츠 환경, “원스탭”과 함께 시작해 보세요.<br>
    <strong>곧 만나요! 😊</strong></p>
    <hr>
</body>
</html>