<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <h3>원스탭_개발
    </h3>    
    <hr>
    <strong>핵심 기능</strong> 
    <ul>
        <li>API 연동 및 정보 출력</li>
            <ul><li>우리말샘 API ⭢ 네이버 API</li></ul>
            
        <li>인터페이스 공간 설정</li>
        <ul><li>IFRAME ⭢ SIDEPANEL</li></ul>

        <li>매니페스토 설정</li>
        <ul>
            <li>CORS 문제 해결을 위한 퍼미션 설정</li>
        </ul>

        <li>크롬 로컬 스토리지 활용</li>
        <ul>
            <li>크롬 싱크 스토리지 염두</li>
        </ul>
            


    </ul>
    <hr>
    부가 기능 
    <ul>
        <li>강조</li>
        <li>삭제</li>
        <li>원문 이동</li>
        <li>북마크 이동</li>
    </ul>


    
</body>
</html>