<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    BeautifulSoup을 활용한 웹 크롤링<sup>1</sup>
    <hr>
    <a href="../images/웹크롤링.png"><img src="../images/웹크롤링.png" alt="">    </a>
    kiwipiepy를 활용한 자연어 분석, 유저 단어 구축 <sup>2</sup>
    <hr>
    <a href="../images/형태소분석.png"><img src="../images/형태소분석.png" alt="">    </a>
    OpenAI API를 활용한 긍정/부정/중립 감성 분석<sup>3</sup>
    <a href="../images/감성분석.png"><img src="../images/감성분석.png" alt="">    </a>
    <hr>
    &quot;보조금&quot;, &quot;테슬라&quot; 등 단어는 매년 고빈도<sup>4</sup>
    <a href="../images/워드클라우드.png"><img src="../images/워드클라우드.png" alt="">    </a>
    <hr>
    2022년 이후 긍정 기사가 부정 기사 역전<sup>5</sup>
    <a href="../images/감성분석결과.png"><img src="../images/감성분석결과.png" alt="">    </a>

    

</body>
</html>