<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h3><strong>전기차 키워드 기사 데이터 수집 및 분석</strong></h3>
    <hr />
    <h3><strong>배경 및 목표</strong></h3>
    <ul>
    <li><strong>배경</strong>
    <ul>
    <li>전기차 시장 성장에 따른 변화 파악 필요</li>
    <li>청라 화재 사건 등 여론 분석 중요성 증대</li>
    
    </ul>
    </li>
    <li><strong>목표</strong>
    <ul>
    <li>전기차 기사 워드클라우드 및 감성 분석</li>
</ul>
</li>

</ul>
<hr>
    <h3><strong>방법</strong></h3>
    <ul>
    <li><strong>수집</strong>
    <ul>
    <li><strong>대상</strong>: 전기차 관련 기사 제목 및 언론사</li>
    
    </ul>
    <ul>
    <li><strong>기간</strong>: 2020년~2024년 (연도별 1000개, 총 5000개, 정확도순, CSV)</li>
    
    </ul>
    <ul>
    <li><strong>방법</strong>: <a href="../images/웹크롤링.png">BeautifulSoup을 활용한 웹 크롤링</a></li>
    
    </ul>
    </li>
    
    </ul>
    <ul>
    <li><strong>전처리</strong>
    <ul>
    <li><a href="../images/형태소분석.png">kiwipiepy를 활용한 한국어 형태소 분석 및 사용자 사전 구축</a></li>
    
    </ul>
    </li>
    <li><strong>분석</strong>
    <ul>
    <li>pandas를 활용한 상관 관계, 빈도 분석</li>
    
    </ul>
    </li>
    
    </ul>
    <ul>
    <li><strong>시각화</strong>
    <ul>
    <li>wordcloud, matplotlib을 활용한 데이터 시각화 (워드클라우드, 막대그래프)</li>
    
    </ul>
    </li>
    <li><strong>감성 분석</strong>
    <ul>
    <li><a href="../images/감성분석.png">OpenAI API를 활용한 긍정/부정/중립 감성 분석</a></li>
    
    </ul>
    </li>
    
    </ul>
    <hr />
    <h3><strong>결과</strong></h3>
    <ul>
    <li><strong>워드클라우드</strong>
    <ul>
    <li> <a href="../images/워드클라우드.png">&quot;보조금&quot;, &quot;배터리&quot;, &quot;테슬라&quot;등의 단어는 매년 고빈도 키워드</a></li>
    <li>2024년의 경우 기사 정렬 이슈로 데이터가 튀었던 것으로 보임</li>
    
    </ul>
    </li>
    <li><strong>감성 분석</strong>
    <ul>
    <li><a href="../images/감성분석결과.png">2022년 이후 긍정 기사가 부정 기사 역전</a>
    </li>
    <li><strong>캐즘 현상</strong>으로 임시적 수요 정체 가능성</li>
    
    </ul>
    </li>
    
    </ul>
    <hr />
    <h3><strong>발전</strong></h3>
    <ul>
    <li>분석 수준 세분화
    <ul>
    <li>언론사별 카테고리 세분화</li>
    
    </ul>
    </li>
    <li>사용자 사전 강화
    <ul>
    <li>전기차 관련 전문용어 및 신규 단어 반영</li>
    
    </ul>
    </li>
    
    </ul>
    <hr />
    <h3><strong>업무</strong></h3>
    <ul>
    <li><strong>개요</strong>
    <ul>
    <li><strong>기간</strong>: 2024.08.12 ~ 2024.08.24 (2주)</li>
    
    </ul>
    <ul>
    <li><strong>인원</strong>: 동아일보 미디어 프론티어 과정 3인</li>
    <li><strong>협업</strong>: Slack, Notion </li>
    <li><strong>기여</strong>: 2024년 기사데이터 수집 및 핸들</li>
    
    
    
    </ul>
    </li>
    
    </ul>
    <hr />


      
</body>
</html>



