<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5892XK94');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- <a href="index.html" class="article_title">가</a> -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5892XK94"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <footer>
        <table>
            <tbody>
                <tr>
                    <td><a href="./0.html">자기소개</a></td>
                    <!-- <td><a href="./편성제안.html">편성 제안</a></td> -->
                    <td><a href="./웹크롤링.html">웹크롤링</a></td>
                    <td><a href="./추천시스템.html">추천분석</a></td>
                    <td><a href="./캘린더.html">캘린더</a></td>
                    <td><a href="./번외.html">스핀오프</a></td>
                    <td><a href="../index.html">처음으로</a></td>
                </tr>
                
        
        
            </tbody>
        
        </table>
    </footer>
    웹 크롤링을 통한 키워드 텍스트 분석
    <hr>
    프로젝트 개요
    <hr>
    요약:
    <br>
    - 분석 결과에 따르면 전기차에 대한 여론은 갈수록 나빠지고 있는것으로 보입니다.
    <br>- 2020년~2024년 년도별 다음사 뉴스 데이터 1000개를 웹 크롤링 및 감성 분석한 결과 ‘전기차’에 대한 부정적 기사 제목의 수가 2022년 부터 긍정적 기사의 제목의 수보다 더욱 많아졌기 때문입니다.
    <br>- 이런 비즈니스적 현상은 시장이 초기 시장에서 중기 시장으로 넘어갈 때 잠시 수요 정체가 일어나는 캐즘 현상으로 보인다는 분석도 있습니다.
    <br>- 다만 데이터 수집 년도 및 개수, OpenAI 감성 분석의 신뢰성에 대한 이슈가 있기에 신중한 해석도 필요합니다.
    <hr>
    팀 구성 및 역할: 
    
    <br>- 동아일보 데이터 분석을 통한 고객 경험 설계 과정 3인
    <br>- 팀원 A(나):
         도메인 로직 설계, 2024년 기사 데이터 작업
        <br>- 팀원 B :
         도메인 가설 설정, 2022~2023년 기사 데이터 작업
        <br>- 팀원 C :
         댓글 데이터 작업, 2020~2021년 기사 데이터 작업
    <hr>
         사용 프로그램: 
    
        <br>- 프로그래밍 및 데이터 분석을 위한 python, pandas
        <br>- 정적 웹 크롤링을 위한 BeautifulSoup
        <br>- 한국 자연어 처리 및 감성분석을 위한 kiwipiepy, OpenAI API

</body>
</html>



