<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5892XK94');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- <a href="index.html" class="article_title">가</a> -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5892XK94"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <footer>
        <table>
            <tbody>
                <tr>
                    <td><a href="./0.html">자기소개</a></td>
                    <!-- <td><a href="./편성제안.html">편성 제안</a></td> -->
                    <td><a href="./웹크롤링.html">웹크롤링</a></td>
                    <td><a href="./추천시스템.html">추천분석</a></td>
                    <td><a href="./캘린더.html">캘린더</a></td>
                    <td><a href="./번외.html">스핀오프</a></td>
                    <td><a href="../index.html">처음으로</a></td>
                </tr>
                
        
        
            </tbody>
        
        </table>
    </footer>
    언론사별 추천 시스템 분석
    <hr>
    프로젝트 개요
    <hr>
     요약: 

    <br>- 검증 결과에 따르면 언론사 홈페이지별 개인화된 추천 시스템은 잘 작동하지 않는 것으로 보입니다.
    <br>- 부산일보, 중앙일보, 동아일보  홈페이지에서 사용자 선호도를 담은 로그인 변수를 통한 A/B테스트를 진행한 결과 개인화된 CF(협업필터링) 추천은 작동을 안하고 CB(콘텐츠베이스) 추천이 작동하는것으로 보였기 때문입니다.
    <br>- 저희는 이런 CF  미작동의 원인에 언론사 특유의 공익적 아젠다 세팅 문제, 사용자 데이터가 부족한 콜드 스타트 문제, 비즈니스적인 금전 인력 문제가 있을 수 있다고 판단했습니다.
    <br>- 다만 저희의 검증에는 데이터 반영 ‘시차’ 이슈가 있을 수 있기에 설계의 한계점도 있습니다.
    <hr>
     팀 구성 및 역할: 
    
    <br> - 동아일보 데이터 분석을 통한 고객 경험 설계 과정_3인팀
    <br>- 팀원 A(나): 도메인 가설 설정,  남성 페르소나 설정 및 테스트
    <br>- 팀원 B : 검증 결과 원인 분석, 여성 페르소나 설정 및 테스트
    <br>- 팀원 C : 도메인 검증 설정,  발표 자료 디자인 및 협업 지원

</body>
</html>



