<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../index.html" class="article_title">ㅎㅜㅅㅓㄱ</a>

</head>
<body>
    <h1 style="text-align: center;">취미</h1>
    <hr>
    <p style="text-align: center;">음악<p>
    <hr>
    <br>
    <img src="../images/팜플릿.png" alt="" width="300" height="300">
    <img src="../images/콜드플레이.jpg " alt="" width="300" height="300">
    <br>
    <!-- &nbsp;칸예 웨스트, 콜드 플레이<hr> -->
    <p style="text-align: center;">독서<p>
    <hr>
    <br>
    
    <img src="../images/카프카.png" alt="" width="300" height="300">
    <img src="../images/이방인.png " alt="" width="300" height="300">
    <br>
    <!-- &nbsp;프란츠 카프카, 알베르 까뮈<hr> -->
    <p style="text-align: center;">미디어<p>
    <hr>
    <br>
    <img src="../images/롱블랙.png" alt="" width="300" height="300">
    <img src="../images/폴인.png " alt="" width="300" height="300">
    <br>
    <!-- &nbsp;롱블랙, 폴인<hr> -->
    
    
</body>
</html>
