<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined View</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="margin: 0;">UX라이팅 스터디_ 카카오페이를 기본교통카드로 설정 유도</h3> <!-- h2 마진을 0으로 설정 -->
    <div>
        <div style="margin: 0;"> 
            &nbsp;&nbsp;&nbsp; : 2025.01.23
        </div>
        <div style="margin: 0;"> <!-- 첫 번째 div의 마진을 0으로 설정 -->

          <!-- <span id="phoneIcon"></span>
          <span id="emailIcon"></span> -->
          <!-- <span id="specialLink"></span> -->
  
      </strong>
          </div>
      </div>
  </div>
  <hr>
<img src="../images/카카오페이-교통카드.png" alt="">
  <hr>
    <section class="flex-container">
        <div class="flex-container">
            <strong>상황</strong>
            <ul>
                <li><span style="vertical-align: super; font-size: 1rem;"><div><a href="https://support.kakaopay.com/web/faq/PAY?qna=90000" style="font-size: 1rem;">🔗기본 교통카드</a> : 교통카드 사용 시 앱 실행 필요 없이 화면이 꺼진 채로 교통단말과 태깅만 하면 되는 기능&nbsp;</div></span></li><li><div>미설정시에는&nbsp;<span style="font-size: 1rem;">유저가&nbsp;</span><span style="font-size: 1rem;">모바일 교통카드 태그시 매번 교통 카드 팝업을 클릭 해야하는 불편함이 발생.</span><span style="font-size: 13.3333px;">1</span></div></li><li><div><span style="font-size: 1rem;">이에 UX 라이터는&nbsp;</span><span style="font-size: 1rem;">카카오페이를&nbsp;</span><span style="font-size: 1rem;">기본 교통카드로 설정하도록 카카오페이스</span><span style="font-size: 1rem;">럽게</span><span style="font-size: 1rem;">&nbsp;</span><span style="font-size: 1rem;">유도해야하는 상황.</span><span style="font-size: 13.3333px;">2</span></div></li></ul></div></section>
    <hr>
                <section class="flex-container">
      <div class="flex-container">
          <strong>라이팅 과정</strong>
          <ul>
            
            1) 본문1</ul><ul><ul><li>(역할) 디바이스 모바일 결제 기능 활성화</li><li>(구조) ~를 위해 ~가 필요해요&nbsp;</li><li><span style="font-size: 1rem;">(사유)&nbsp;</span>NFC, 근거리 무선 결제 병기<br>- NFC, RFID, 블루투스 ⊂ 근거리무선결제<br>- NFC 단어에 대한 유저의 의견?&nbsp;</li><li>(액션) 스마트폰 설정<br>- 스마트폰, 디바이스 설정? 예고</li></ul></ul><ul>
        
              
          </ul>
          <br>
        </div>
        
        <div class="flex-container">
          <div><br></div>
          <ul>
            
                2) 본문2</ul><ul><ul><li><span style="font-size: 1rem;">(역할) </span><span style="font-size: 1rem;">단독 교통카드 결제 기능 설정</span></li><li><span style="font-size: 1rem;">(구조)&nbsp;</span>~가 필요합니다 → ~하세요<br>- 편의 기능 : 지시 + 적당한 예의</li><li>(사유) 원활한 태그로 단일화<span style="font-size: 13.3333px;">3<br></span>- "앱 실행 필요없이... 꺼진채로" → 원활한<br>- 태깅(개발자, 마케터 언어) → 태그</li><li>(액션)&nbsp;<span style="font-size: 1rem;">해지 및 삭제&nbsp;</span>→ 선택 해제<br>- 선택 해제라는 유연한 방법을 유도<span style="font-size: 13.3333px;">1,4</span><br>- 티머니의 경우 백그라운드 전력소모<span style="font-size: 13.3333px;">5</span></li></ul></ul><div><span style="font-size: 13.3333px;"><br></span></div>
  
                
      </div>
  </section>
  
  <section class="flex-container">
      <div class="flex-container">
          <ul>
              
                  3)<span style="font-size: 1rem;">&nbsp;CTA</span></ul>
                  <ul>
                  <ul><li>(역할) 기본교통카드 설정 상태 확인<br>- 본문1,2로 이미 기능 설정은 완료</li><li><span style="font-size: 1rem;">(문구) 기본 교통카드로 사용&nbsp;</span>→ 확인&nbsp;</li><li>(예측) 설정 미완료시 잠금화면<br>- 불필요현 유저의 클릭 액션 방지<span style="font-size: 13.3333px;">5</span><br><br></li></ul></ul></div>
                
      <div class="flex-container">
          <ul>
              4) 타이틀 및 전체 정리</ul><ul><ul><li><span style="font-size: 1rem;">(역할) 기본 교통카드 설정 유도<br>-&nbsp;</span>단순 확인 X → 기능 설정</li>
                
                
                <li>(문구) 필수 체크 →설정하기<br></li><li>(어미) 하기, 켜기, 선택으로 동작 어미 일치</li><li>(디자인) 사용 X&nbsp;<br>- 본문1,2를 동시에 포함하는 이미지?<br>- 더욱 흔한 NFC 표시</li></ul></ul></div></section>
  <hr><b>각주</b><br>
  <sup>1</sup><br>
  <a href="../images/결제.png">사진</a><div><span style="font-size: 13.3333px;">2</span></div><div><div><span style="font-size: 1rem;">카카오페이 보이스</span><span style="font-size: 1rem;">&nbsp;: 믿음직하게, 친근하게, 쉽게 |&nbsp;</span><span style="font-size: 1rem;">유저 수준 : 연령, 경험 수준 불문</span></div><div><br></div><div><span style="font-size: 13.3333px;">3</span></div><div>이중 과금이 : 실제 가능성&nbsp;<a href="https://krpythondestroyer.github.io/portfolio/images/%ED%8E%B8%EC%84%B1%EC%A0%9C%EC%95%88/%EC%9A%94%EC%9D%BC%EB%B3%84%20%EC%8B%9C%EC%B2%AD%EB%A5%A0%20%EB%B3%80%EB%8F%99.png" style="text-decoration-thickness: initial; display: inline; text-decoration-line: none;">↓</a>&nbsp;| 될수도 : 카카오페이의 "믿음직하게" 보이스톤 파괴</div><div><br></div></div>
  <sup>4</sup><br>
    <a href="../images/비접촉 결제.png">사진</a><br>
  <sup>5</sup><br>
  <a href="../images/티머니.png">사진</a>

</body></html>