<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5892XK94');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <!-- <a href="index.html" class="article_title">가</a> -->
    
    </head>
<body>
  <h3>카카오페이 - 기본 교통카드 설정안</h3> 
  <hr>
  <img src="../images/카카오페이-교통카드.png" alt="">

</body>
</html>