<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5892XK94');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- <a href="index.html" class="article_title">가</a> -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5892XK94"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <footer>
        <table>
            <tbody>
                <tr>
                    <td><a href="./0.html">about</a></td>
                    <!-- <td><a href="./편성제안.html">편성 제안</a></td> -->
                    <td><a href="./웹크롤링.html">웹 크롤링</a></td>
                    <td><a href="./추천시스템.html">추천 시스템</a></td>
                    <td><a href="./캘린더.html">캘린더</a></td>
                    <td><a href="../index.html">home</a></td>
                </tr>
                
        
        
            </tbody>
        
        </table>
    </footer>
    정부 연구개발캘린더 제작 및 배포
    <hr>
    프로젝트 개요
    <hr>
    요약: 
    <br>- 정부 R&D 예산 삭감에 따른 신규 과제의 필요성
    <br>- 각 부처별 R&D 사업 공고가 파편화 되어 있는 문제점
    <br>- 정부 사업 공고 취합 및 정리 
    <br>- 사내 배포 및 전국 단위 유관기관 배포

    <hr>
    팀 구성 및 역할: 
    
    <br>- 서울테크노파크 전략기획팀_3인
    <br>- 팀원 A(나): 공고 자료 수집 및 전처리 및 취합 
    <br>- 팀원 B : 작성 자료 재검토
    <br>- 팀원 C : 외주 디자인 요청 및 대외 배포
    <hr>
    <a href="../images/캘린더.jpg">
    <img src="캘린더.jpg" alt="">
    </a>
</body>
</html>



