<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <strong>수집 및 분석<sup>1</sup></strong>
<hr>
<ul>
    <li>종편사 시청률 자료</li>
<ul>
    <li> 채널A , JTBC, TV조선, MBN</li>
    <li> 2024년 6월 01일~ 2024년 09월 03일</li>
    <li> 채널A 112개, JTBC 95개, TV조선 130개, MBN 140개</li>
    <li> 저녁, 프라임 시간대 시청률, 장르, 방송시간 등제공 </li>
</ul>
<li>Panda, Matplotlib 활용한 데이터 전처리, 분석, 시각화</li>
<ul>
    <li> 방영일 ➝ %Y.%m.%d 포맷 </li>
    <li> 시청률 ➝ rstrip(‘%’), float 형태 </li>
    <li> 방송시간 ➝ 시간의 분 단위화, 200 분 이하 데이터로 필터링</li>
    <li><img src="../images/편성제안/전처리.png" alt=""></li>
</ul>
<!-- <li>OpenAI API를 활용한 시청률 예측</li>
<ul>
    <li><img src="../images/편성제안/예측.png" alt=""></li>
</ul> -->
</ul>
    <strong>결과 및 해석<sup>2</sup></strong>
    <hr>
    
    <ul>
        <li>프로그램별: 
            <ul>
                <li><img src="../images/편성제안/뉴스와 다음 프로그램.png" alt=""></li>
            </ul>
        </li>
    <li>요일별: 
        <ul>
            <li><img src="../images/편성제안/요일별 시청률 변동.png" alt=""></li>
        </ul>
    </li>
    <li>시간대별: </li>
    <ul>
        <li><img src="../images/편성제안/저녁 및 프라임 시청률.png" alt=""></li>
        <li><img src="../images/편성제안/저녁 및 프라임 시간대 시청률 차이.png" alt=""></li>
    </ul>

</ul>
<!-- <strong>제안 및 예측<sup>3</sup></strong>
<hr>
<ul>
<li>"뉴스를 기준으로 연쇄 효과를 만들자"
    <ul>
        <li><img src="../images/편성제안/편성표.png" alt=""></li>
    </ul>
</li>
<li>예측:</li>
<ul>
    <li><img src="../images/편성제안/image.png" alt=""></li>
</ul> -->

</li>
</ul>


</body>
</html>