<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5892XK94');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- <a href="index.html" class="article_title">가</a> -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5892XK94"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <footer>
        
        <table>
            <tbody>
                <tr>
                    <td><a href="./0.html">about</a></td>
                    <!-- <td><a href="./편성제안.html">편성 제안</a></td> -->
                    <td><a href="./웹크롤링.html">웹 크롤링</a></td>
                    <td><a href="./추천시스템.html">추천 시스템</a></td>
                    <td><a href="./캘린더.html">캘린더</a></td>
                    <td><a href="../index.html">home</a></td>
                </tr>
                
        
        
            </tbody>
        
        </table>
    </footer>
    2024년 하반기 프라임 타임 채널 A편성 제안
        <hr>
    요약:
    -

    <br>팀 구성: 
    <br>- 동아일보 데이터 분석을 통한 고객 경험 설계 과정_3인팀
    <br><br>
    팀 역할:
    
    <br>- 팀원 A(나):
    <br>    - 도메인 가설 설정,  남성 페르소나 설정 및 테스트
    <br>- 팀원 B :
    <br>    - 검증 결과 원인 분석, 여성 페르소나 설정 및 테스트
    <br>- 팀원 C :
    <br>   - 도메인 검증 설정,  발표 자료 디자인 및 협업 지원


    <br><br>  ### 📋일지

    <br>- **### 주제 접근**
    <br>- 주제는 "2024년 하반기 프라임 타임 채널 편성 제안"이였다. 우선 실제 프로그램 편성 상태에 전략에 대한 이해 부터 필요해 보였다. 세번의 과제 중에 제일 주체가 구체적으로 주어졌다. 실제로 채널 A사 편성이 어떻게 되고 있는지 타임 테이블 자료도 배부 됐다. 주제가 구체적인 주제일수록 뭘 해야하는 지는 명확하지만 프로젝트의 현실적 제약성도 커지는것 같다. 예를들어 이번에 A라는 참신한 방송 기획이 떠올라도, 실제 지금 운영되고 있는 방송 스케쥴이나 미디어 상황과 영 딴판이라면 프로젝트의 가치가 급격히 떨어지는것이다. 구체적으로 좁혀진 주제에 대한 과제를 수행하려면 편성에 대한 이론적인 접근이 아니라 구체적이고 실제적인 이해가 필요해보였다. 그래서 데이터 분석 및 수집을 하기 전에 가장먼저 실제 채널 A사나 기타JTBC나 TV조선 OBS 등등의 방송사들은 어떤 편성 전략 및 컨셉을 사용하고 있는지 사전조사부터 하고자 했다.
    <br>- 9월 6일까지

데이터 수집
</body>
</html>



