<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h3>방송 편성 제안 </h3>
    <hr />
    <strong>배경 및 목표 </strong>
    <ul>
        <li>채널 A 는 강철부대 W, 체크인한양 등 신규 프로그램 방영 준비 중</li>
        <li>2024 년 4 분기에도 최신 자료에 기반한 편성 전략이 필요한 상황</li>
        <li>시청률 데이터를 기반으로한 시청 특성 확인 및 합리적 편성 제안</li>
    </ul>
    
    <hr />
    
    <strong>수집 및 분석<sup>1</sup></strong>
    <ul>
        <li>종편사 시청률 자료 (채널A , JTBC, TV조선, MBN)</li>
        <li>Panda, Matplotlib 활용한 데이터 전처리, 분석, 시각화</li>
        <li>OpenAI API 를 활용한 시청률 예측</li>
        <!-- <li>OpenAI API를 활용한 시청률 예측</li> -->
    </ul>

    <hr />

    <strong>결과 및 해석<sup>2</sup></strong>
    <ul>
        <li><strong>"채널 A 시청자 층은 뉴스 방송을 중심으로 탄탄하다."</strong></li>
        <li>프로그램별: 뉴스와 다음 뉴스 편차 ⭣
        </li>
        <li>요일별: 평균 시청률 ⭣ 편차 ⭣
        </li>
        <li>시간대별: 최고 시청률 ⭣ 편차 ⭣</li>


        
    </ul>

    <hr>
    <strong>제안</strong>
    <ul>
        <strong><li>"뉴스를 기준으로 연쇄 효과를 만들자" </strong>
            <li> 주말에 집중됐던 드라마를 평일 뉴스 후 타임으로 분산</li>
            <li> 방영 프로그램 기대 시청률 </li>
            <!-- <li>기대 시청률</li> -->

        </ul>
        <hr />

    <strong>업무</strong>
        <li> 기간 : 2024.09.19 ~ 2024.09.30 (약2주)</li>
        <li> 인원 : 동아일보 미디어 프론티어 과정 3인</li>
        <li> 협업 : Slack, Notion</li>
        <li> 기여 : 33% (TV조선, MBN 자료 수집 및 처리)</li>

    <hr />
</body>
</html>
